/* BGcolor */
#BackGround {
    position: relative;
    width: 2000px;
    height: 1290px;

    background: #FFFFFF;
}

/* Group 19 */
#Field {
    position: absolute;
    width: 1894px;
    height: 1120px;
    left: 53px;
    top: 119px;
}


/* border */
#border {
    position: absolute;
    width: 1890px;
    height: 1100px;

    background: rgba(196, 196, 196, 0.02);
    border: 2px solid #88B9A4;
    box-sizing: border-box;
}

/* STATBAR */
#STATBAR {
    position: absolute;
    width: 1894px;
    height: 80px;

    background: #88B9A4;
    border-radius: 11px;

}

/* TEXT */
#step {
    position: absolute;
    left: 42%;
    right: 30%;
    top: 0;
    bottom: 0;


    font-size: 36px;
    line-height: 150%;
    /* or 54px */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.0168em;
    font-feature-settings: 'tnum' on, 'lnum' on;

    color: #FFFFFF;

}

/* bottom_bar */
#bottom_bar {
    position: absolute;
    width: 2000px;
    height: 30px;
    left: 0;
    top: 1260px;

    background: #88B9A4;
}

#next_step {
    position: absolute;
    left: 92.15%;
    right: 4.85%;
    top: 88.37%;
    bottom: 6.98%;
    z-index: 3;

    /* Black */
    background-image: url("img/next_step.png");
}

#redraw {

    position: absolute;
    width: 68px;
    height: 68px;
    left: 1839px;
    top: 1068px;

    background-image: url("img/redraw.png");

}

/*캐릭터 박스 */
#card_box {

    position: absolute;
    width: 1249px;
    height: 334px;
    left: 329px;
    top: 777px;
    z-index: 1;

}


#key_prob {
    position: absolute;
    width: 250px;
    height: 334px;
    left: 310px;
    top: 777px;
    z-index: 2;

    font-size: 36px;

    background: #cccccc;
    border: 1px solid #000000;
    box-sizing: border-box;
}

#card_2 {
    position: absolute;
    width: 250px;
    height: 334px;
    left: 662px;
    top: 777px;
    z-index: 2;


    border: 1px solid #000000;
    box-sizing: border-box;
}

#card_3 {

    position: absolute;
    width: 250px;
    height: 334px;
    left: 995px;
    top: 777px;
    z-index: 2;


    border: 1px solid #000000;
    box-sizing: border-box;
}

#card_4 {

    position: absolute;
    width: 250px;
    height: 334px;
    left: 1328px;
    top: 777px;
    z-index: 2;


    border: 1px solid #000000;
    box-sizing: border-box;
}
#card_stack_box1{
    position: absolute;
    left: 300px;
    top: 274px;
}

#card_stack_box2{
    position: absolute;
    left: 1200px;
    top: 274px;
}
.card_stack {
    width: 329px;
    height: 414px;
}

.cardstack1 {

    /* Card_char */

    width: 270px;
    height: 360px;

    border: 1px solid #000000;


    /* Rectangle 13 */

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #FCCA46;


    /* Rectangle 14 */

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #FCCA46;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);

}

.relation_card_positive{
    position: absolute;
    width: 99px;
    height: 132px;

    background: #9CD9FC;
    border: 1px solid #000000;
    box-sizing: border-box;

    z-index: 15;
    cursor: move;
}
.relation_card_neutrality{
    position: absolute;
    width: 99px;
    height: 132px;

    background: #FCE19C;
    border: 1px solid #000000;
    box-sizing: border-box;

    z-index: 15;
    cursor: move;
}
.relation_card_negative{
    position: absolute;
    width: 99px;
    height: 132px;

    background: #FCB59C;
    border: 1px solid #000000;
    box-sizing: border-box;

    z-index: 15;
    cursor: move;
}
#relation_card_pos1{
    left: 816px;
    top: 900px;
}
#relation_card_pos2{
    left: 935px;
    top: 900px;
}
#relation_card_pos3{
    left: 1054px;
    top: 900px;
}
#relation_card_neu1{
    left: 1223px;
    top: 900px;
}
#relation_card_neu2{
    left: 1342px;
    top: 900px;
}
#relation_card_neg1{
    left: 1496px;
    top: 900px;
}
#relation_card_neg2{
    left: 1615px;
    top: 900px;
}
#relation_card_neg3{
    left: 1734px;
    top: 900px;
}
.relation_context{
    display: flex;
    width:100%;
    height:100%;
    align-items: center;
    justify-content: center;
}