/*@media ( max-width: 1023px ) {*/
/*    #logo_box{*/
/*        width:auto;*/
/*    }*/

/*    #mainlogo {*/
/*        float: none;*/
/*        width: auto;*/
/*    }*/

/*    #logo {*/
/*        float: none;*/
/*        width: auto;*/
/*    }*/

/*    #touch_screen {*/
/*        float: none;*/
/*        width: auto;*/
/*    }*/
/*}*/

/*@media ( max-width: 767px ) {*/
/*    #logo_box{*/
/*        width:auto;*/
/*    }*/

/*    #mainlogo {*/
/*        float: none;*/
/*        width: auto;*/
/*    }*/

/*    #logo {*/
/*        float: none;*/
/*        width: auto;*/
/*    }*/

/*    #touch_screen {*/
/*        float: none;*/
/*        width: auto;*/
/*    }*/
/*}*/

#background {
    position: relative;
    width: 1440px;
    height: 1024px;
    overflow: hidden;
    margin:0px;
}


#mainlogo {
    position: absolute;
    width: 634px;
    height: 460px;
    left: 403px;
    top: 198px;
    margin:0;
    background-image: url("img/noris_login_page.png");
    background-size: 100% 100%;
}

#logo {

    position: absolute;
    width: 443px;
    height: 99px;
    left: 498px;
    top: 683px;

    background-image: url("img/application_name.png");
    background-size: 100% 100%;

}

#touch_screen {
    position: absolute;
    width: 476px;
    height: 55px;
    left: 481px;
    top: 779px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 150%;
    /* or 37px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #3FB9AB;

    opacity: 0.7;
}



/*#naverIdLogin {*/
/*    position: absolute;*/
/*    width: 426px;*/
/*    height: 71px;*/
/*    left: calc(50% - 426px / 2);*/
/*    top: calc(50% - 71px / 2 + 281.5px);*/


/*    z-index: 2;*/

/*    background-image: url("../static/img/naver_login.PNG");*/
/*    background-size: 426px 71px;*/

/*}*/

