html,body{
    margin: 0;
    width:100%;
    height:100%;

}

#backGround {

    position: absolute;
    width: 1337px;
    height: 1036px;
    left: calc(50% - 1337px / 2 - 1.5px);
    top: calc(50% - 1036px / 2 - 6px);


    offset: center;
    z-index: 0;

    background: #DDEDE6;
}


#make_str_box {
    position: absolute;
    width: 427px;
    height: 580px;
    left: calc(50% - 427px / 2 + 342.5px);
    top: calc(50% - 580px / 2 + 21px);


    background-image: url("img/make_new_story.png");
    background-size: 427px 580px;

}

#shelf {
    position: absolute;
    width: 1337px;
    height: 186px;
    left: calc(50% - 1337px / 2 + 3.5px);
    top: calc(50% - 186px / 2 + 442px);


    background: url("img/shelf.png");
    background-size: 120% -2.25%;
    background-repeat: no-repeat;
}

#gallery {

    position: absolute;
    width: 572px;
    height: 519px;
    left: calc(50% - 572px / 2 - 300px);
    top: calc(50% - 519px / 2 + 89.5px);

    z-index: 1;

    background: url("img/gallery.png");
    background-size: 100% 100%;

}