#backGround {
    position: relative;
    width: 2000px;
    height: 1290px;
    left: 0px;
    top: 0px;
    z-index: 0;
    background: #DDEDE6;
}

#bottom_bar{

    position: absolute;
    width: 2000px;
    height: 30px;
    left: 1px;
    top: 1260px;
    background: #88B9A4;
}

#make_str_box {
    position: absolute;
    width: 572px;
    height: 750px;
    left: 1127px;
    top: 218px;
    background-image: url("img/make_new_story.png");
    z-index: 1;

}

/*#make_str_sentence{*/
/*    position: absolute;*/
/*    width: 572px;*/
/*    height: 89px;*/
/*    left: 1127px;*/
/*    top: 639px;*/

/*    font-family: Habibi;*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    font-size: 50px;*/
/*    line-height: 150%;*/
/*    !* or 75px *!*/

/*    text-align: center;*/
/*    letter-spacing: 0.05em;*/
/*    text-transform: capitalize;*/
/*    z-index: 2;*/
/*    color: #000000;*/
/*}*/

/*#plus_square {*/
/*    position: absolute;*/
/*    width: 81px;*/
/*    height: 86px;*/
/*    left: 1380px;*/
/*    top: 533px;*/
/*    z-index: 3;*/
/*    background: url("img/plus-square.png");*/
/*    background-repeat: no-repeat;*/

/*}*/


#shelf_box {
    position: absolute;
    width: 2148px;
    height: 966px;
    left: -48px;
    top: 419px;

    filter: drop-shadow(15px 8px 15px rgba(0, 0, 0, 0.25));
}

#shelf {
    position: absolute;
    width: 2148px;
    height: 347px;
    left: -48px;
    top: 1038px;

    background: url("img/shelf.png");
    background-repeat: no-repeat;
}

#gallery {
    position: absolute;
    width: 681px;
    height: 619px;
    left: 198px;
    top: 419px;


    background: url("img/gallery.png");
    background-repeat: no-repeat;
}

