#background_main {
    position: relative;
    width: 1440px;
    height: 1024px;
    overflow: hidden;
    margin:0px;
}

#today_text {

    position: absolute;
    width: 595px;
    height: 195px;
    left: 136px;
    top: 184px;

}

.text_font{
    font-family: Noto Sans KR;
    font-style: normal;

    font-size: 70px;
    line-height: 142%;

    display: inline-block;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    margin: 0;
    color: #000000;

    opacity: 0.6;
}

#text1{
    font-weight: 300;
}

#text2{
    font-weight: bold;
}

#text3{
    font-weight: 300;
}

#noris_icon {
    position: absolute;
    width: 277px;
    height: 85.97px;
    left: 55px;
    top: 31.99px;

    background: url("img/noris_icon.png");
    opacity: 0.8;
}

#gallery_container {
    position: absolute;
    width: 504px;
    height: 372.88px;
    left: 738px;
    top: 192.94px;
    z-index: 1;
    background-image: url("img/gallery.svg");
}

#gallery_person {
    position: absolute;
    width: 193.73px;
    height: 234.87px;
    left: 312px;
    top: 103.97px;

    background-image: url("img/gallery_person.svg");
}

#gallery_arrow {
    position: absolute;
    width: 255px;
    height: 30px;
    left: 53px;
    top: 257.92px;

    background-image: url("img/gallery_arrow.svg");
}

#gallery_text_container {
    position: absolute;
    width: 240px;
    height: 84.97px;
    left: 111px;
    top: 188.94px;

}


.gallery_text {
    font-family: Noto Sans KR;
    font-style: normal;
    font-size: 50px;
    line-height: 150%;
    /* or 75px */

    display: inline-block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    margin:0;
    color: #FFFFFF;
}

#gallery_text1{
    font-weight: 300;
}

#gallery_text2{
    font-weight: bold;
}



#sample_container {
    position: absolute;
    width: 378.49px;
    height: 330.84px;
    left: 846px;
    top: 527.84px;

    background-image: url("img/sample.svg");
}

#sample_text_container {
    position: absolute;
    width: 144px;
    height: 83.97px;
    left: 168px;
    top: 130.96px;
}

#sample_arrow {
    position: absolute;
    width: 211px;
    height: 30px;
    left: 121px;
    top: 204.94px;

    background-image: url("img/sample_arrow.svg");

}

#sample_deco{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 178px;
    top: 142.96px;
    background-image: url("img/sample_deco.svg");
}

.sample_text {
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 140%;
    /* or 42px */

    display: inline-block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    margin: 0;
    color: #004E59;

}

#sample_text1{
    font-weight: bold;
}

#sample_text2{
    font-weight: 300;
}

#make_story_background {
    position: absolute;
    width: 804.27px;
    height: 691.32px;
    left: 120px;
    top: 333px;


}

#make_story_container {
    position: absolute;
    width: 640px;
    height: 447.92px;
    left: 10px;
    top: 120px;


    background-image: url("img/make_story.svg");
    transform: rotate(-22.98deg);
}

#make_story_tree {
    position: absolute;
    height: 271.78px;
    width: 132.75px;
    left: 80px;
    top: 236px;



    background-image: url("img/make_story_tree.svg");

}

#make_story_person {
    position: absolute;
    width: 125.03px;
    height: 149.55px;
    left: 186px;
    top: 412px;


    background-image: url("img/make_story_person.svg");

}

#make_story_arrow{
    position: absolute;
    width: 303px;
    height: 35px;
    left: 406.75px;
    top: 451px;
    z-index: 0;

    background-image: url("img/make_story_arrow.svg");

}

#make_story_text_container {
    position: absolute;
    width: 480px;
    height: 205px;
    left: 290px;
    top: 310px;

}

.make_story_text {
    font-family: Noto Sans KR;
    font-style: normal;

    font-size: 50px;
    line-height: 150%;
    /* or 75px */

    display: inline-block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    margin:0;
    color: #004E59;

}

#make_story_text1{
    font-weight: 300;
}

#make_story_text2{
    font-weight: bold;
}

#make_story_text3{
    font-weight: 300;
}

#make_story_water {
    position: absolute;
    width: 74.08px;
    height: 44.03px;
    left: 250px;
    top: 290px;
    z-index: 1;
    transform: rotate(60.51deg);
    background-image: url("img/water.svg");

}

#make_story_triangle {
    position: absolute;
    width: 27px;
    height: 27px;
    left: 300px;
    top: 269px;

    background-image: url("img/triangle.svg");
}

#make_story_sh {
    position: absolute;
    width: 40.76px;
    height: 29.69px;
    left: 250px;
    top: 331px;

    background-image: url("img/umuljeong.svg");
}