/* 1.3.1 reading */
#BackGround {
    position: relative;
    width: 1440px;
    height: 1024px;
}

/* Rectangle 67 */
#Field {
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 0px;

    background: #EEEEEE;
}

/* Group 105 */
#story_border {
    position: absolute;
    width: 990px;
    height: 674.92px;
    left: 0px;
    top: 0px;
}


/* Rectangle 78 */
#sub_border_1 {
    position: absolute;
    width: 982.54px;
    height: 674.92px;
    left: 232.46px;
    top: 349px;

    background: #FFFEF6;
    box-shadow: 4px 0px 9px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 80px 80px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

/* Rectangle 79 */
#sub_border_2 {
    position: absolute;
    width: 982.54px;
    height: 664.66px;
    left: 225px;
    top: 359.25px;

    background: #FFFEF6;
    box-shadow: 3px 0px 9px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 80px 80px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

/* Rectangle 80 */
#main_border {
    position: absolute;
    width: 982.54px;
    height: 650.68px;
    left: 232.46px;
    top: 373.24px;

    background: #FFFEF6;
    box-shadow: 3px 0px 9px rgba(0, 0, 0, 0.2);
    border-radius: 80px 80px 0px 0px;

}

/* Group 67 */
#backpage_btn {
    position: absolute;
    width: 170px;
    height: 60px;
    left: 20px;
    top: 909.32px;
}

/* Vector 45 */
#backpage_arrow {
    position: absolute;
    height: 24px;
    width: 163px;
    left: 30px;
    top: 27px;
    z-index: 2;


    background-image: url("img/go_backpage_arrow.svg");
}

/* 책장으로 돌아가기 */
#backpage_text {
    position: absolute;
    width: 107px;
    height: 51.45px;
    left: 60px;
    top: -20px;
    z-index: 2;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 140%;
    /* or 35px */

    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #989898;
}

#nextpage_btn{
    position: absolute;
    width: 170px;
    height: 60px;
    right: 20px;
    top: 909.32px;

}

#nextpage_arrow {
    position: absolute;
    height: 24px;
    width: 163px;
    right: 30px;
    top: 27px;
    z-index: 2;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    background-image: url("img/go_backpage_arrow.svg");
}

#nextpage_text {
    position: absolute;
    width: 107px;
    height: 51.45px;
    right: 80px;
    top: 0px;
    z-index: 2;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 140%;
    /* or 35px */

    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #989898;

}



/* 노리스 아이콘제작 1 */
#noris_icon {
    position: absolute;
    left: 6.46%;
    right: 74.31%;
    top: 3.12%;
    bottom: 88.48%;

    background: url("img/noris_icon.png");
    opacity: 0.8;
    backdrop-filter: blur(13px);
    /* Note: backdrop-filter has minimal browser support */
}

/* Rectangle 65 */
#text_box {
    position: absolute;
    width: 362px;
    height: 127px;
    left: 300px;
    top: 354px;

    opacity: 0.8;
    /* 0040 */
    border: 3px dashed #666666;
    box-sizing: border-box;

    font-size: 36px;
    line-height: 150%;
    /* or 30px */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;
}

/* 드래그 하여 문장 위치를 바꿔보세요. */
#text_box_value {
    position: absolute;
    top: 40%;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    /* 0040 */
    color: #666666;
}

/* 책 표지를 꾸며보아요! */
#Cover_title {
    position: absolute;
    left: 21.25%;
    right: 31.88%;
    top: 18.46%;
    bottom: 72.56%;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 300;
    font-size: 70px;
    line-height: 75%;
    /* or 99px */
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #000000;

    opacity: 0.6;
}

#LeftSidebar {
    position: absolute;
    width: 600px;
    height: 130px;
    left: -235px;
    top: 496px;

    background: rgba(202, 202, 202, 0.5);
    border-radius: 0px 0px 80px 80px;
    transform: matrix(0, 1, 1, 0, 0, 0);
}

/* Rectangle 80 */
#RightSidebar {
    position: absolute;
    width: 528px;
    height: 183px;
    left: 1085px;
    top: 496px;

    background: rgba(202, 202, 202, 0.5);
    border-radius: 0px 0px 80px 80px;
    transform: matrix(0, -1, -1, 0, 0, 0);
}

#RightSidebar_box {
    position: absolute;
    width: 150px;
    height: 400px;
    left: 1270px;
    top: 380px;

}


#LeftSidebar {
    position: absolute;
    width: 600px;
    height: 130px;
    left: -235px;
    top: 496px;

    background: rgba(202, 202, 202, 0.5);
    border-radius: 0px 0px 80px 80px;
    transform: matrix(0, 1, 1, 0, 0, 0);
}

#LeftSidebar_box {
    position: absolute;
    width: 150px;
    height: 600px;
    left: 0px;
    top: 320px;


}

#RightSidebar_scroll{
    width:100%;
    height:86%;

    overflow:scroll;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display:none;
}

/* 문장을 입력하세요. */
#input_text {
    position: absolute;
    width: 839px;
    left: 301px;
    top: 84.67%;
    bottom: 9.38%;
    border: none;
    outline:none;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 140%;
    /* or 35px */
    display: flex;
    text-align: center;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #989898;
}


/* Line 1 */
#text_line {
    position: absolute;
    width: 839px;
    height: 0px;
    left: 301px;
    top: 933px;


    opacity: 0.5;
    border: 3px solid #414141;
}


/* 좌표값 넘겨받으면 넣어줄꺼임 */

.Ground_small_img{
    width:100%;
    height:100%;
    margin-left:13px;
}
.Ground_small{
    position: flex;
    display: static;
    width: 130px;
    height: 100px;

    margin-bottom:20px;
    text-align:center;
    align-items: center;
    justify-content: center;
}

#plus_mark{
    /* BG */
    position: absolute;
    width: 52px;
    height: 52px;
    left: 49px;
    top: 57px;

    background: url(img/plus_mark.png);
    background-size : contain;

}

.card_img {
    width:110px;
    height:110px;
    object-fit: contain;
    margin: 5px;

 }

/* decorate_character */
#decorate_ch_1 {
    position: absolute;
    width: 70px;
    height: 110px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 1px dashed #666666;
}


/* decorate_character */
#decorate_ch_2 {
    position: absolute;
    width: 70px;
    height: 110px;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    border: 1px dashed #666666;
}

/* decorate_character */
#decorate_ch_3 {
    position: absolute;
    width: 70px;
    height: 110px;

    /* Inside Auto Layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    border: 1px dashed #666666;
}

/* decorate_character */
#decorate_ch_4 {
    position: absolute;
    width: 70px;
    height: 110px;

    /* Inside Auto Layout */
    flex: none;
    order: 3;
    flex-grow: 0;
    border: 1px dashed #666666;
}

.deco_img {
    width:90%;
    height:90%;
    object-fit: contain;
    margin: 5px;
}

/* 좌표값 넘겨받으면 넣어줄꺼임 */

/* Group 108 */
#bookmark {
    position: absolute;
    width: 88px;
    height: 69px;
    left: 137px;
    top: 477px;

    background: url(img/bookmark.png);
}

/* Group 114 */
#question_mark {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 173px;
    top: 494px;

    background: url(img/question_mark.png);
}


