/* 표지제작 */
#BackGround {
    position: relative;
    width: 2000px;
    height: 1290px;

    background: #FFFFFF;
}


/* LeftSidebar */
#LeftSidebar {
    position: absolute;
    width: 165px;
    height: 736px;
    left: 58px;
    top: 365px;
}


/* Rectangle 25 */
#LeftSidebar_right {
    position: absolute;
    left: -18%;
    right: 0;
    top: 0;
    bottom: 0;

    background: #EFEFEF;
    box-shadow: 3px 6px 2px rgba(0, 0, 0, 0.29);
    border-radius: 28px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

/* Rectangle 33 */
#LeftSidebar_left {
    position: absolute;
    left: -101%;
    right: 100%;
    top: 0;
    bottom: -10%;

    background: #FFFFFF;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

/* Group 19 */
#Field {
    position: absolute;
    width: 1894px;
    height: 1120px;
    left: 53px;
    top: 119px;
}


/* border */
#border {
    position: absolute;
    width: 1890px;
    height: 1100px;
    z-index: 1;

    background: rgba(196, 196, 196, 0.02);
    border: 2px solid #88B9A4;
    box-sizing: border-box;
}

/* STATBAR */
#STATBAR {
    position: absolute;
    width: 1894px;
    height: 80px;

    background: #88B9A4;
    border-radius: 11px;

}

/* TEXT */
#step {
    position: absolute;
    left: 47%;
    right: 30%;
    top: 0;
    bottom: 0;


    font-size: 36px;
    line-height: 150%;
    /* or 54px */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.0168em;
    font-feature-settings: 'tnum' on, 'lnum' on;

    color: #FFFFFF;
}


/* Frame 1 */
#input_text_box {
    position: absolute;
    width: 1385px;
    height: 65px;
    left: 341px;
    top: 1128px;
    z-index: 3;

    border: 3px solid #000000;

    font-weight: normal;
    font-size: 36px;
    line-height: 150%;
    /* or 54px */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.0168em;
    font-feature-settings: 'tnum' on, 'lnum' on;

    color: #000000
}



/* Rectangle 17 */
#Cover {
    position: absolute;
    width: 569px;
    height: 750px;
    left: 749px;
    top: 303px;

    background: rgba(196, 196, 196, 0.49);
    filter: blur(4px);
}

/* Group 26 */
#Select_Character_Card_Field {
    position: absolute;
    width: 99px;
    height: 606px;
    left: 76px;
}


/* Card_small */
#Card_small_1 {
    position: absolute;
    width: 99px;
    height: 132px;
    top: 438px;

    background: #C4C4C4;
    background-size : cover;
    border: 1px solid #000000;
    box-sizing: border-box;
}


/* Card_small */
#Card_small_2 {
    position: absolute;
    width: 99px;
    height: 132px;
    top: 596px;

    background: #C4C4C4;
    background-size : cover;
    border: 1px solid #000000;
    box-sizing: border-box;
}

/* Card_small */
#Card_small_3 {
    position: absolute;
    width: 99px;
    height: 132px;
    top: 754px;

    background: #C4C4C4;
    background-size : cover;
    border: 1px solid #000000;
    box-sizing: border-box;
}

/* Card_small */
#Card_small_4 {
    position: absolute;
    width: 99px;
    height: 132px;
    top: 912px;

    background: #C4C4C4;
    background-size : cover;
    border: 1px solid #000000;
    box-sizing: border-box;
}

/* bottom_bar */
#bottom_bar {
    position: absolute;
    width: 2000px;
    height: 30px;
    left: 0;
    top: 1260px;

    background: #88B9A4;
}


/* RightSidebar */
#RightSidebar {
    position: absolute;
    width: 165px;
    height: 736px;
    left: 1776px;
    top: 365px;
}

/* Rectangle 25 */
#RightSidebar_left {
    position: absolute;
    left: 0;
    right: -18%;
    top: 0;
    bottom: 0;

    background: #EFEFEF;
    box-shadow: 3px 6px 2px rgba(0, 0, 0, 0.29);
    border-radius: 28px;
}
/* Rectangle 33 */

#RightSidebar_right {
    position: absolute;
    left: 101%;
    right: -100%;
    top: 0;
    bottom: -10%;
    z-index: 0;
    background: #FFFFFF;
}

/* arrow-right-square */
#next_step {
    position: absolute;
    left: 92.15%;
    right: 4.85%;
    top: 88.37%;
    bottom: 6.98%;
    z-index: 3;

    /* Black */
    background-image: url("img/next_step.png");
}

