/* 3.1 story.1 */
#BackGround{
    position: relative;
    width: 1440px;
    height: 1024px;

    background: #FFFFFF;
    }

/* Frame 42 */
#STEP_BAR{
    /* Auto Layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;


    position: absolute;
    width: 39px;
    height: 608px;
    left: 16px;
    top: calc(50% - 608px/2);
}

/* index-S */
#STEP_1{
    position: absolute;
    width: 39px;
    height: 120px;
    left: 0px;
    top: 0px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 2px;

    /* 3 */
    background: #B9E4C9;
    border-radius: 8px;

}


/* text */
#STEP_1_TEXT{
    position: absolute;
    left: 10.26%;
    right: 41.03%;
    top: 11.67%;
    bottom: 14.17%;

    font-family: B612;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    /* 000 */
    color: #000000;
}

/* index-s */
#STEP_2{
    position: absolute;
    width: 39px;
    height: 120px;
    left: 0px;
    top: 122px;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 2px;


    /* 5.5 */
    background: #E6E2CF;
    border-radius: 8px;
}

/* text */
#STEP_2_TEXT{
    position: absolute;
    left: 10.26%;
    right: 41.03%;
    top: 11.67%;
    bottom: 14.17%;

    font-family: B612;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    /* 0040 */
    color: #666666;
}

/* index-s */
#STEP_3{
    position: absolute;
    width: 39px;
    height: 120px;
    left: 0px;
    top: 244px;


    /* Inside Auto Layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 2px;

    /* 5.5 */
    background: #E6E2CF;
    border-radius: 8px;
}

/* text */
#STEP_3_TEXT{
    position: absolute;
    left: 10.26%;
    right: 41.03%;
    top: 11.67%;
    bottom: 14.17%;

    font-family: B612;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    /* 0040 */
    color: #666666;
}

/* index-s */
#STEP_4{
    position: absolute;
    width: 39px;
    height: 120px;
    left: 0px;
    top: 366px;


    /* Inside Auto Layout */
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 2px;

    /* 5.5 */
    background: #E6E2CF;
    border-radius: 8px;
    }

/* text */
#STEP_4_TEXT{
    position: absolute;
    left: 10.26%;
    right: 41.03%;
    top: 11.67%;
    bottom: 14.17%;

    font-family: B612;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    /* 0040 */
    color: #666666;
}

/* index-s */
#STEP_5{
    position: absolute;
    width: 39px;
    height: 120px;
    left: 0px;
    top: 488px;

    /* Inside Auto Layout */
    flex: none;
    order: 4;
    flex-grow: 0;
    margin: 0px 2px;

    /* 5.5 */
    background: #E6E2CF;
    border-radius: 8px;
}

/* text */
#STEP_5_TEXT{
    position: absolute;
    left: 10.26%;
    right: 41.03%;
    top: 11.67%;
    bottom: 14.17%;

    font-family: B612;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    /* 0040 */
    color: #666666;
}

/* border */
#Field{
    position: absolute;
    width: 1340px;
    height: 968px;
    left: 50px;
    top: 56px;
    z-index: 1;

    /* 4 */
    background: #FFFBE6;
}


/* button - Arrow */
#next_shape{
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 107px;
    height: 48px;
    left: 1278px;
    top: 884px;
    z-index: 3;
}
#next_step_body_1{
    /* Text / Next */
    /* Auto Layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 107px;
    left: calc(50% - 107px/2);
    top: 0%;
    bottom: 0%;

    /* 2 */

    background: #37966F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}

#next_step_body_2{
    /* Body */
    /* Auto Layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 16px;

    position: static;
    width: 107px;
    left: calc(50% - 107px/2);
    top: 0px;
    bottom: 0px;

    border-radius: 8px;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}

/* Caption */
#next_step_text{
    position: absolute;
    width: 39px;
    height: 5px;
    left: 10px;
    top: 0px;

    font-family: B612;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 24px */
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #FFFFFF;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 12px 0px;
}

/* arrow-right */
#next_step_image{
    position: absolute;
    left: 62.62%;
    right: 14.95%;
    top: 29.17%;
    bottom: 27.17%;

    background-image: url(img/arrow-right.png);
}

/* charbar */
#LeftSidebar{
    /* Auto Layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 15px 40px 10px;
    z-index: 2;

    position: absolute;
    width: 110px;
    height: 596px;
    left: 50px;
    top: calc(50% - 608px/2);

    /* 5.5 */
    background: #E6E2CF;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

/* Card_small */
#Card_small_1 {
    position: absolute;
    width: 85px;
    height: 114px;
    left: calc(50% - 85px/2 - 12.5px);
    top: calc(50% - 114px/2 - 202px);

    background: #C4C4C4;
    border-radius: 8px;
    box-sizing: border-box;
    radius: 8px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 20px;
}


/* Card_small */
#Card_small_2 {
    position: absolute;
    width: 85px;
    height: 114px;
    left: calc(50% - 85px/2 - 12.5px);
    top: calc(50% - 114px/2 - 63px);

    background: #C4C4C4;
    border-radius: 8px;
    box-sizing: border-box;
    radius: 8px;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 20px;


}

/* Card_small */
#Card_small_3 {
    position: absolute;
    width: 85px;
    height: 114px;
    left: calc(50% - 85px/2 - 12.5px);
    top: calc(50% - 114px/2 + 76px);

    background: #C4C4C4;
    border-radius: 8px;
    box-sizing: border-box;
    radius: 8px;

    /* Inside Auto Layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 20px;
}

/* Card_small */
#Card_small_4 {
    position: absolute;
    width: 85px;
    height: 114px;
    left: calc(50% - 85px/2 - 12.5px);
    top: calc(50% - 114px/2 + 215px);

    background: #C4C4C4;
    border-radius: 8px;
    box-sizing: border-box;
    radius: 8px;

    /* Inside Auto Layout */
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 20px;
}

/* story border */
#story_border{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 1020px;
    height: 680px;
    left: 210px;
    top: 192px;
    z-index: 1;
}


/* Frame 43 */
#story_frame{
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 1020px;
    height: 680px;
    left: calc(50% - 1020px/2);
    top: calc(50% - 680px/2);

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}


/* Rectangle 64 */
#left_frame{
    position: absolute;
    width: 510px;
    height: 680px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    border: 1px dashed #E6E6E6;
    box-sizing: border-box;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

/* Rectangle 65 */
#right_frame{
    position: absolute;
    width: 510px;
    height: 680px;
    left: 510px;
    top: 0px;

    background: #FFFFFF;
    border: 1px dashed #E6E6E6;
    box-sizing: border-box;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}

/* Guide&Keyword */
#guide_keyword{
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    z-index: 1;

    position: absolute;
    width: 1050px;
    height: 43px;
    left: calc(50% - 1050px/2);
    top: 130px;
}


/* Keyword */
#keyword{
    position: absolute;
        width: 150px;
    height: 70px;
    left: 12.5px;
    top: -13.5px;

    border-radius: 10px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 5px 0px;
}

/* KWbg */
#keyword_box{
    position: absolute;
    width: 162px;
    height: 70px;
    left: calc(50% - 162px/2);
    top: calc(50% - 70px/2 - 1px);

    /* 5.5 */
    background: #E6E2CF;
    border-radius: 8px;
}

/* 상황키워드 */
#keyword_text{
    position: absolute;
    width: 123px;
    height: 57px;
    left: calc(50% - 123px/2 + 20.5px);
    top: calc(50% - 57px/2 - 0.5px);

    font-family: B612;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* or 140% */
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}


/* GuideQ */
#guide{
    position: absolute;
    width: 870px;
    height: 70px;
    left: 167.5px;
    top: -13.5px;

    border-radius: 10px;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 5px 0px;
    z-index:2
}

/* GQbg */
#guide_box{
    position: absolute;
    width: 860px;
    height: 70px;
    left: 10px;
    top: -1px;

    /* 5.5 */
    background: #E6E2CF;
    border-radius: 8px;
}

#guide_text_box{
    /* Frame 45 */

    /* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 25px 10px 10px;

    position: absolute;
    width: 870px;
    height: 43px;
    left: 0.5px;
    top: calc(50% - 43px/2 - 1px);
    z-index:2

}

/* 가이드 질문 */
#guide_text{
    position: absolute;
    width: 805px;
    height: 23px;
    left: 10px;
    top: calc(50% - 57px/2 - 0.5px);

    font-family: B612;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    /* identical to box height, or 140% */
    text-align: center;


    color: #000000;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 10px 0px;
}
#guide_image{
    /* Message */
    position: absolute;
    width: 30px;
    height: 30px;
    left: 820px;
    top: 0px;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 10px 0px;

    background-image: url(img/Message.png);
    background-size : cover;

}

/* Text Area */
/* 문장을 입력하세요. */
#input_text{
    position: absolute;
    width: 1035px;
    height: 72px;
    left: 195px;
    top: 880px;
    z-index: 2;

    border: 2px solid #666666;
    box-sizing: border-box;
    border-radius: 4px;

    font-family: B612;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    /* identical to box height, or 140% */
    text-align: center;

    /* Color - Grey 2 */
    color: #4F4F4F;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}
/* BGbar */


/* Auto Layout */
#RightSidebar{
    /* BGbar */
    /* Auto Layout */
    width:100%
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 10px 40px 10px;

    position: absolute;
    width: 110px;
    height: 528px;
    right: 50px;
    top: calc(50% - 608px/2);
    z-index: 2;

    /* 5.5 */
    background: #E6E2CF;
    box-shadow: -2px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
#RightSidebar_scroll{
    width:100%;
    height:86%;

    overflow:scroll;
    -ms-overflow-style: none;
}
.Ground_small_img{
    width:100%;
    height:100%;
    margin-left:13px;
}
.Ground_small{
    position: flex;
    display: static;
    width: 85px;
    height: 72px;

    margin-bottom:20px;
    text-align:center;
    align-items: center;
    justify-content: center;
}

#camera{
    /* BG */
    position: static;
    width: 110px;
    height: 90px;

    background: url(img/camera.png);
    background-size : cover;

}
.card_img {
    width:90%;
    height:90%;
    object-fit: contain;
    margin: 5px;
 }

/* decorate_character */
#decorate_ch_1 {
    position: absolute;
    width: 70px;
    height: 110px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}


/* decorate_character */
#decorate_ch_2 {
    position: absolute;
    width: 70px;
    height: 110px;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* decorate_character */
#decorate_ch_3 {
    position: absolute;
    width: 70px;
    height: 110px;

    /* Inside Auto Layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

/* decorate_character */
#decorate_ch_4 {
    position: absolute;
    width: 70px;
    height: 110px;

    /* Inside Auto Layout */
    flex: none;
    order: 3;
    flex-grow: 0;
}

.deco_img {
    width:90%;
    height:90%;
    object-fit: contain;
    margin: 5px;
}

#text_box{
    position: absolute;
    width: 373px;
    height: 129px;
    left: 38px;
    top: 47px;

    background: rgba(196, 196, 196, 0.29);
    border: 1px dashed #666666;
    box-sizing: border-box;

    font-family: B612;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 150%;

    /* or 22px */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    /* 0040 */
    color: #666666;
}

/* 우측 상단에 있는 작은 말풍선 */
#speech_box{
    position: absolute;
    width:214px;
    height:123px;
    top:175px;
    left:1173px;
    padding-top:10px;
    background-image: url("../../static/img/bg_speechbox2.png");
    background-repeat : no-repeat;
    background-size : contain;
    z-index:5;
}
#speech_box_closeBtn{
    position: absolute;
    right:0;
    margin-top: 15px;
    margin-right: 10px;
}
#speech_box_context{
    display:flex;

    width:100%;
    height:90%;

    color: #FFFFFF;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;

    align-items: center;
    justify-content:center;
    text-align: center;
}
#speech_box_wordBtn{
    color: #FFFFFF;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;

    background: #356859;
    border-radius: 8px;

    justify-content:center;
    text-align: center;
    padding: 10px 0px 10px 0px;
    margin: 8px 20px 0px 20px;
}

/* 모달창 */
.modal_wrap{
    display: none;
    width: 760px;
    height: 350px;

    position: absolute;
    top:50%;
    left: 50%;
    margin: -175px 0 0 -380px;

    background:#ffffff;
    border-radius: 24px;
    border: 1px solid #000000;
    z-index: 12;
}
.black_bg{
    display: none;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0,0, 0.5);
    top:0;
    left: 0;
    z-index: 10;
}
#image_wrap{
    display:flex;
    justify-content:center;
    align-items: center;
    margin:59px 35px 0px 35px;
}
.image_bg{
    display:static;
    width:201px;
    height:110px;

    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 12px;
    margin-right:10px;

    background-size:cover;
}
#modal_title{
    color: #414141;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    /* identical to box height, or 26px */

    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;

    margin-top:18px;
}
#modal_button_wrap{
    display: flex;
    justify-content:center;
    margin-top:40px;
}
.modal_button{
    display: flex;

    box-sizing: border-box;
    border-radius: 8px;

    /* Inside Auto Layout */
    flex: none;
    padding:12px 16px 12px 16px;

    /* IBM Plex / Button */
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    /* identical to box height, or 24px */

}
#modal_button_yes{
    color: #C5F2C7;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;

    margin-left:8px;
    background: #1F8B24;
    box-shadow: 0px 1px 2px rgba(97, 97, 97, 0.2), 0px 2px 4px rgba(97, 97, 97, 0.2);
    border-radius: 8px;
}
#modal_button_no{
    color: #818181;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;

    margin-right:8px;
    background: #FFFFFF;
    border: 1px solid #C0C0C0;
    box-sizing: border-box;
    border-radius: 8px;

}
::-webkit-scrollbar {
    display:none;
}
