/* 이야기 작성 */
#BackGround {
    position: relative;
    width: 2000px;
    height: 1290px;

    background: #FFFFFF;
}

/* Left_Sidebar */
#LeftSidebar {
    position: absolute;
    width: 165px;
    height: 736px;
    left: 58px;
    top: 365px;
}


/* Rectangle 25 */
#LeftSidebar_right {
    position: absolute;
    left: -18%;
    right: 0;
    top: 0;
    bottom: 0;

    background: #EFEFEF;
    box-shadow: 3px 6px 2px rgba(0, 0, 0, 0.29);
    border-radius: 28px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

/* Rectangle 33 */
#LeftSidebar_left {
    position: absolute;
    left: -101%;
    right: 100%;
    top: 0;
    bottom: -10%;

    background: #FFFFFF;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

/* RightSidebar */
#RightSidebar {
    position: absolute;
    width: 165px;
    height: 736px;
    left: 1776px;
    top: 365px;
}

/* Rectangle 25 */
#RightSidebar_left {
    position: absolute;
    left: 0;
    right: -18%;
    top: 0;
    bottom: 0;

    background: #EFEFEF;
    box-shadow: 3px 6px 2px rgba(0, 0, 0, 0.29);
    border-radius: 28px;
}
/* Rectangle 33 */

#RightSidebar_right {
    position: absolute;
    left: 101%;
    right: -100%;
    top: 0;
    bottom: -10%;
    z-index: 0;
    background: #FFFFFF;
}

/* Group 19 */
#Field {
    position: absolute;
    width: 1894px;
    height: 1120px;
    left: 53px;
    top: 119px;
}


/* border */
#border {
    position: absolute;
    width: 1890px;
    height: 1100px;

    background: rgba(196, 196, 196, 0.02);
    border: 2px solid #88B9A4;
    box-sizing: border-box;
}

/* STATBAR */
#STATBAR {
    position: absolute;
    width: 1894px;
    height: 80px;

    background: #88B9A4;
    border-radius: 11px;

}

/* TEXT */
#step {
    position: absolute;
    left: 45%;
    right: 30%;
    top: 0;
    bottom: 0;


    font-size: 36px;
    line-height: 150%;
    /* or 54px */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.0168em;
    font-feature-settings: 'tnum' on, 'lnum' on;

    color: #FFFFFF;

}

/* upper_bar */
#upper_bar {
    position: absolute;
    width: 2000px;
    height: 100px;

    background: rgba(255, 255, 255, 0.890625);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.42);
}

/* Group 27 */
#user_icon {
    position: absolute;
    width: 76px;
    height: 76px;
    left: 1901px;
    top: 9px;

    background: url("img/user_icon.png");
}
/* Polygon 2 */
#user_icon_event{
    position: absolute;
    width: 17px;
    height: 15px;
    left: 1959px;
    top: 69px;
    z-index: 2;

    background: url("img/user_icon_event.png");
}


/* username 님 */
#username {
    position: absolute;
    left: 88.05%;
    right: 4.95%;
    top: 18%;
    bottom: 25%;

    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #000000;
}



/* Frame 1 */
#input_text_box {
    position: absolute;
    width: 1385px;
    height: 65px;
    left: 341px;
    top: 1128px;

    border: 3px solid #000000;
}

/* 문장을 입력하세요 */
#input_text {
    position: absolute;
    width: 507px;
    height: 40px;
    left: 507px;
    top: 12px;


    font-weight: normal;
    font-size: 36px;
    line-height: 150%;
    /* or 54px */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.0168em;
    font-feature-settings: 'tnum' on, 'lnum' on;

    color: rgba(0, 0, 0, 0.2);
}

/* STEP_BAR */

/* Auto Layout */
#STEP_BAR {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 0 0 10px;

    position: absolute;
    width: 1160px;
    height: 100px;
    left: 420px;
    top: 214px;

    background: #D6ECD7;
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

}

/* STEP */
#STEP_1 {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 0 0 10px;

    position: static;
    width: 220px;
    height: 70px;
    left: 930px;
    top: 10px;

    background: #FFFFFF;
    box-shadow: 0 4px 4px #888;
    border-radius: 10px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 10px 0;
}

/* TEXT */
#STEP_1_TEXT {
    position: static;
    top: 50%;
    left: 50%;
    transform: translate(75%, 0%);

    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 150%;
    /* or 60px */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #1F8B24;

}

/* STEP */
#STEP_2 {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 0 0 10px;

    position: static;
    width: 220px;
    height: 70px;
    left: 700px;
    top: 10px;

    border-radius: 10px;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 10px 0;
}

/* TEXT */
#STEP_2_TEXT {
    position: static;
    top: 50%;
    left: 50%;
    transform: translate(75%, 0%);

    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 150%;

    /* or 60px */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #1F8B24;
}

/* STEP */
#STEP_3 {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 0 0 10px;

    position: static;
    width: 220px;
    height: 70px;
    left: 470px;
    top: 10px;

    border-radius: 10px;

    /* Inside Auto Layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin: 10px 0;
}

/* TEXT */
#STEP_3_TEXT {
    position: static;
    top: 50%;
    left: 50%;
    transform: translate(75%, 0%);


    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 150%;
    /* or 60px */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #1F8B24;
}

/* STEP */
#STEP_4 {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 0 0 10px;

    position: static;
    width: 220px;
    height: 70px;
    left: 240px;
    top: 10px;

    border-radius: 10px;

    /* Inside Auto Layout */
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
    margin: 10px 0;
}

/* TEXT */
#STEP_4_TEXT {
    position: static;
    top: 50%;
    left: 50%;
    transform: translate(75%, 0%);


    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 150%;
    /* or 60px */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #1F8B24;
}

/* STEP */
#STEP_5 {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 0 0 10px;

    position: static;
    width: 220px;
    height: 70px;
    left: 240px;
    top: 10px;

    border-radius: 10px;

    /* Inside Auto Layout */
    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
    margin: 10px 0;
}

/* TEXT */
#STEP_5_TEXT {
    position: static;
    top: 50%;
    left: 50%;
    transform: translate(75%, 0%);

    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 150%;

    /* or 60px */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #1F8B24;
}

/* Group 26 */
#Select_Character_Card_Field {
    position: absolute;
    width: 99px;
    height: 606px;
    left: 76px;
}


/* Card_small */
#Card_small_1 {
    position: absolute;
    width: 99px;
    height: 132px;
    top: 438px;

    background: #C4C4C4;
    border: 1px solid #000000;
    box-sizing: border-box;
}


/* Card_small */
#Card_small_2 {
    position: absolute;
    width: 99px;
    height: 132px;
    top: 596px;

    background: #C4C4C4;
    border: 1px solid #000000;
    box-sizing: border-box;
}

/* Card_small */
#Card_small_3 {
    position: absolute;
    width: 99px;
    height: 132px;
    top: 754px;

    background: #C4C4C4;
    border: 1px solid #000000;
    box-sizing: border-box;
}

/* Card_small */
#Card_small_4 {
    position: absolute;
    width: 99px;
    height: 132px;
    top: 912px;

    background: #C4C4C4;
    border: 1px solid #000000;
    box-sizing: border-box;
}

/* bottom_bar */
#bottom_bar {
    position: absolute;
    width: 2000px;
    height: 30px;
    left: 0;
    top: 1260px;

    background: #88B9A4;
}

/* arrow-right-square */
#next_step {
    position: absolute;
    left: 92.15%;
    right: 4.85%;
    top: 88.37%;
    bottom: 6.98%;

    /* Black */
    background-image: url("img/next_step.png");
}

/* Frame 2 */
#ID_Menu {
    /* Auto Layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0 0 10px;
    z-index: 2;

    position: absolute;
    width: 221px;
    height: 310px;
    left: 1779px;
    top: 100px;

    background: #FFFFFF;
}

/* Frame 3 */
#menu_1 {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 0 0 10px;

    position: static;
    width: 201px;
    height: 65px;
    left: 10px;
    top: 10px;

    background: #F3F3F3;
    border-radius: 10px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: flex-start;
    flex-grow: 0;
    margin: 0 10px;
}

/* Rectangle 34 */
#menu_feature_1 {
    position: static;
    width: 50px;
    height: 45px;
    left: 10px;
    top: 10px;

    background: #C4C4C4;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: flex-start;
    flex-grow: 0;
    margin: 10px 0;
}

/* 내 정보 관리 */
#menu_text_1 {
    position: static;
    width: 121px;
    height: 43px;
    left: 70px;
    top: 10px;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 138%;
    /* or 28px */
    display: flex;
    align-items: center;
    letter-spacing: 0.0075em;

    color: #000000;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: flex-start;
    flex-grow: 0;
    margin: 10px 0;
}

/* Frame 4 */
#menu_2 {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 0 0 10px;

    position: static;
    width: 201px;
    height: 65px;
    left: 10px;
    top: 85px;

    background: #F3F3F3;
    border-radius: 10px;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: flex-start;
    flex-grow: 0;
    margin: 0 10px;
}

/* Rectangle 34 */
#menu_feature_2 {
    position: static;
    width: 50px;
    height: 45px;
    left: 10px;
    top: 10px;

    background: #C4C4C4;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: flex-start;
    flex-grow: 0;
    margin: 10px 0;
}

/* text */
#menu_text_2 {
    position: static;
    width: 121px;
    height: 43px;
    left: 70px;
    top: 10px;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 138%;
    /* or 28px */
    display: flex;
    align-items: center;
    letter-spacing: 0.0075em;

    color: #000000;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: flex-start;
    flex-grow: 0;
    margin: 10px 0;
}

/* Frame 5 */
#menu_3 {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 0 0 10px;

    position: static;
    width: 201px;
    height: 65px;
    left: 10px;
    top: 160px;

    background: #F3F3F3;
    border-radius: 10px;

    /* Inside Auto Layout */
    flex: none;
    order: 2;
    align-self: flex-start;
    flex-grow: 0;
    margin: 0 10px;
}

/* Rectangle 34 */
#menu_feature_3 {
    position: static;
    width: 50px;
    height: 45px;
    left: 10px;
    top: 10px;

    background: #C4C4C4;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: flex-start;
    flex-grow: 0;
    margin: 10px 0;
}

/* text */
#menu_text_3 {
    position: static;
    width: 121px;
    height: 43px;
    left: 70px;
    top: 10px;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 138%;
    /* or 28px */
    display: flex;
    align-items: center;
    letter-spacing: 0.0075em;

    color: #000000;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: flex-start;
    flex-grow: 0;
    margin: 10px 0;
}

/* Frame 6 */
#menu_4 {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 0 0 10px;

    position: static;
    width: 201px;
    height: 65px;
    left: 10px;
    top: 235px;

    background: #F3F3F3;
    border-radius: 10px;

    /* Inside Auto Layout */
    flex: none;
    order: 3;
    align-self: flex-start;
    flex-grow: 0;
    margin: 0 10px;
}

/* Rectangle 34 */
#menu_feature_4 {
    position: static;
    width: 50px;
    height: 45px;
    left: 10px;
    top: 10px;

    background: #C4C4C4;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: flex-start;
    flex-grow: 0;
    margin: 10px 0;
}

/* text */
#menu_text_4 {
    position: static;
    width: 121px;
    height: 43px;
    left: 70px;
    top: 10px;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 138%;
    /* or 28px */
    display: flex;
    align-items: center;
    letter-spacing: 0.0075em;

    color: #000000;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: flex-start;
    flex-grow: 0;
    margin: 10px 0;
}

/* Polygon 1 */
#question_base {
    position: absolute;
    width: 679px;
    height: 364px;
    left: 694px;
    top: 480px;

    background: #C4C4C4;
}

/* Polygon 1 */
#question_base_small{
    position: absolute;
    width: 166px;
    height: 77px;
    left: 341px;
    top: 1045px;

    background: #C4C4C4;
}

/* Rectangle 24 */
#question_string{
    position: absolute;
    width: 1385px;
    height: 369px;
    left: 341px;
    top: 509px;

    background: #C4C4C4;
    border-radius: 60px;
}

/* Rectangle 24 */
#question_string_small{
    position: absolute;
    width: 1202px;
    height: 77px;
    left: 524px;
    top: 1045px;

    background: #C4C4C4;
    border-radius: 11px;
}

/* camera */
#camera{
    position: absolute;
    width: 96px;
    height: 96px;
    left: 1817px;
    top: 971px;
    z-index: 4;

    background: url("img/camera.png");

}



