/* 1.3.1 reading */
#BackGround {
    position: relative;
    width: 1440px;
    height: 1024px;

    background: #FFFFFF;
}

/* Rectangle 67 */
#Field {
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 0px;

    background: #EEEEEE;
}

/* Group 105 */
#story_border {
    position: absolute;
    width: 990px;
    height: 798px;
    left: 0px;
    top: 0px;
}


/* Rectangle 78 */
#sub_border_1 {
    position: absolute;
    width: 982.54px;
    height: 798px;
    left: 232.46px;
    top: 226px;

    background: #FFFEF6;
    box-shadow: 4px 0px 9px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 80px 80px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

/* Rectangle 79 */
#sub_border_2 {
    position: absolute;
    width: 982.54px;
    height: 785.88px;
    left: 225px;
    top: 238.12px;

    background: #FFFEF6;
    box-shadow: 3px 0px 9px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 80px 80px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

/* Rectangle 80 */
#main_border {
    position: absolute;
    width: 982.54px;
    height: 769.34px;
    left: 232.46px;
    top: 254.66px;

    background: #FFFEF6;
    box-shadow: 3px 0px 9px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 80px 80px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

/* Group 67 */
#backpage_btn {
    position: absolute;
    width: 170px;
    height: 60px;
    left: 20px;
    top: 909.32px;
}

/* Vector 45 */
#backpage_arrow {
    position: absolute;
    height: 24px;
    width: 163px;
    left: 30px;
    top: 27px;
    z-index: 2;


    background-image: url("img/go_backpage_arrow.svg");
}

/* 책장으로 돌아가기 */
#backpage_text {
    position: absolute;
    width: 107px;
    height: 51.45px;
    left: 60px;
    top: -20px;
    z-index: 2;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 140%;
    /* or 35px */

    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #989898;
}


/* 노리스 아이콘제작 1 */
#noris_icon {
    position: absolute;
    left: 6.46%;
    right: 74.31%;
    top: 3.12%;
    bottom: 88.48%;

    background: url("img/noris_icon.png");
    opacity: 0.8;
    backdrop-filter: blur(13px);
    /* Note: backdrop-filter has minimal browser support */
}

/* 도움이 필요해요 */
#need_help {
    position: absolute;
    left: 82.08%;
    right: 4.79%;
    top: 6.15%;
    bottom: 89.75%;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    /* or 28px */
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #BDBDBD;
}


#nextpage_btn{
    position: absolute;
    width: 170px;
    height: 60px;
    right: 20px;
    top: 909.32px;

}

#nextpage_arrow {
    position: absolute;
    height: 24px;
    width: 163px;
    right: 30px;
    top: 27px;
    z-index: 2;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    background-image: url("img/go_backpage_arrow.svg");
}

#nextpage_text {
    position: absolute;
    width: 107px;
    height: 51.45px;
    right: 80px;
    top: 0px;
    z-index: 2;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 140%;
    /* or 35px */

    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #989898;

}



/* 문장을 입력하세요. */
#input_text {
    position: absolute;
    width: 839px;
    left: 301px;
    top: 84.67%;
    bottom: 9.38%;
    border: none;
    outline:none;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 140%;
    /* or 35px */
    display: flex;
    text-align: center;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #989898;
}


/* Line 1 */
#text_line {
    position: absolute;
    width: 839px;
    height: 0px;
    left: 301px;
    top: 933px;


    opacity: 0.5;
    border: 3px solid #414141;
}

/* Message */
#speech_box {
    position: absolute;
    width: 52px;
    height: 47.56px;
    left: 1122px;
    top: 158px;

    background-image: url(img/Message.png);
    background-repeat : no-repeat;
    background-size : contain;
}



/* Message */
#speech_box_text {
    position: absolute;
    left: 82.71%;
    right: 4.15%;
    top: 15.33%;
    bottom: 77.25%;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* or 140% */

    color: #666666;

    opacity: 0.5;
}

/* Rectangle 65 */
#text_box {
    position: absolute;
    width: 362px;
    height: 127px;
    left: 300px;
    top: 354px;

    opacity: 0.8;
    /* 0040 */
    border: 3px dashed #666666;
    box-sizing: border-box;
}

/* 드래그 하여 문장 위치를 바꿔보세요. */
#text_box_value {
    position: absolute;
    top: 40%;
    transform: matrix(1, 0, 0, -1, 0, 0);

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    /* 0040 */
    color: #666666;
}

/* Group 113 */
#question_mark {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 1140px;
    top: 67px;

    background-image: url(img/question_mark.png);
}






/* Rectangle 94 */
#STEP_1 {
    position: absolute;
    width: 73px;
    height: 55px;
    left: 160px;
    top: 390px;
    opacity: 0.5;

    background: #3AAA8F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(90deg);
}

/* 발단 */
#STEP_1_TEXT {
    position: absolute;
    width: 14.32px;
    height: 52px;
    left: 188.34px;
    top: 394px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 142%;
    /* or 28px */
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #FFFFFF;
}

/* Rectangle 94 */
#STEP_2 {
    position: absolute;
    width: 73px;
    height: 55px;
    left: 160px;
    top: 474px;
    opacity: 0.5;

    background: #3AAA8F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(90deg);
}

/* 위기 */
#STEP_2_TEXT {
    position: absolute;
    width: 21px;
    height: 52px;
    left: 189px;
    top: 478px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 142%;
    /* or 28px */
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #FFFFFF;
}



/* Rectangle 94 */
#STEP_3 {
    position: absolute;
    width: 73px;
    height: 55px;
    left: 160px;
    top: 558px;
    opacity: 0.5;

    background: #3AAA8F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(90deg);
}

/* 위기 */
#STEP_3_TEXT {
    position: absolute;
    width: 21px;
    height: 52px;
    left: 189px;
    top: 562px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 142%;
    /* or 28px */
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #FFFFFF;
}


/* Rectangle 94 */
#STEP_4 {
    position: absolute;
    width: 73px;
    height: 55px;
    left: 160px;
    top: 642px;
    opacity: 0.5;

    background: #3AAA8F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(90deg);
}

/* 절정 */
#STEP_4_TEXT {
    position: absolute;
    width: 21px;
    height: 52px;
    left: 189px;
    top: 646px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 142%;
    /* or 28px */
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #FFFFFF;
}


/* Rectangle 94 */
#STEP_5 {
    position: absolute;
    width: 73px;
    height: 55px;
    left: 160px;
    top: 726px;
    opacity: 0.5;

    background: #3AAA8F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(90deg);
}

/* 결말 */
#STEP_5_TEXT {
    position: absolute;
    width: 21px;
    height: 52px;
    left: 189px;
    top: 730px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 142%;
    /* or 28px */
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #FFFFFF;
}


/* Rectangle 97 */
#guide_box {
    position: absolute;
    width: 418px;
    height: 94px;
    left: 686px;
    top: 142px;

    background: #F6E89A;
    box-shadow: 2px -1px 5px rgba(0, 0, 0, 0.25);
}

/* Frame */
#keyword_line {
    position: absolute;
    width: 147.63px;
    height: 144.71px;
    left: 410px;
    top: 222px;

    background-image: url(img/keyword_line.png);
}


/* 상황키워드 */
#keyword_title {
    position: absolute;
    width: 338px;
    height: 94px;
    left: 306px;
    top: 247px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 142%;
    /* or 28px */
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #6F6F6F;
}


/* - 원경에게 배경은 어떤 곳 인가요? */
#guide_text {
    position: absolute;
    width: 338px;
    height: 56px;
    left: 800px;
    top: 158px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 142%;
    /* or 21px */
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #6F6F6F;
}
/* 가이드 질문 */
#guide_title {
    position: absolute;
    width: 64px;
    height: 94px;
    left: 718px;
    top: 142px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 142%;
    /* or 28px */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #6F6F6F;
}


/* 미로 */
#keyword_text {
    position: absolute;
    width: 338px;
    height: 94px;
    left: 462px;
    top: 240px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 142%;
    /* or 28px */
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #6F6F6F;
}

/* Rectangle 80 */
#RightSidebar {
    position: absolute;
    width: 528px;
    height: 183px;
    left: 1085px;
    top: 496px;

    background: rgba(202, 202, 202, 0.5);
    border-radius: 0px 0px 80px 80px;
    transform: matrix(0, -1, -1, 0, 0, 0);
}

#LeftSidebar {
    position: absolute;
    width: 600px;
    height: 130px;
    left: -235px;
    top: 496px;

    background: rgba(202, 202, 202, 0.5);
    border-radius: 0px 0px 80px 80px;
    transform: matrix(0, 1, 1, 0, 0, 0);
}

#RightSidebar_scroll{
    width:100%;
    height:86%;

    overflow:scroll;
    -ms-overflow-style: none;
}


/* 좌표값 넘겨받으면 넣어줄꺼임 */

.Ground_small_img{
    width:100%;
    height:100%;
    margin-left:13px;
}
.Ground_small{
    position: flex;
    display: static;
    width: 85px;
    height: 72px;

    margin-bottom:20px;
    text-align:center;
    align-items: center;
    justify-content: center;
}

#plus_mark{
    /* BG */
    position: static;
    width: 110px;
    height: 90px;

    background: url(img/plus_mark.png);
    background-size : cover;

}
.card_img {
    width:90%;
    height:90%;
    object-fit: contain;
    margin: 5px;
 }

/* decorate_character */
#decorate_ch_1 {
    position: absolute;
    width: 70px;
    height: 110px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 1px dashed #666666;
}


/* decorate_character */
#decorate_ch_2 {
    position: absolute;
    width: 70px;
    height: 110px;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    border: 1px dashed #666666;
}

/* decorate_character */
#decorate_ch_3 {
    position: absolute;
    width: 70px;
    height: 110px;

    /* Inside Auto Layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    border: 1px dashed #666666;
}

/* decorate_character */
#decorate_ch_4 {
    position: absolute;
    width: 70px;
    height: 110px;

    /* Inside Auto Layout */
    flex: none;
    order: 3;
    flex-grow: 0;
    border: 1px dashed #666666;
}

.deco_img {
    width:90%;
    height:90%;
    object-fit: contain;
    margin: 5px;
}

/* 좌표값 넘겨받으면 넣어줄꺼임 */

/* 모달창 */
.modal_wrap{
    display: none;
    width: 760px;
    height: 350px;

    position: absolute;
    top:50%;
    left: 50%;
    margin: -175px 0 0 -380px;

    background:#ffffff;
    border-radius: 24px;
    border: 1px solid #000000;
    z-index: 12;
}
.black_bg{
    display: none;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0,0, 0.5);
    top:0;
    left: 0;
    z-index: 10;
}
#image_wrap{
    display:flex;
    justify-content:center;
    align-items: center;
    margin:59px 35px 0px 35px;
}
.image_bg{
    display:static;
    width:201px;
    height:110px;

    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 12px;
    margin-right:10px;

    background-size:cover;
}
#modal_title{
    color: #414141;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    /* identical to box height, or 26px */

    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;

    margin-top:18px;
}
#modal_button_wrap{
    display: flex;
    justify-content:center;
    margin-top:40px;
}
.modal_button{
    display: flex;

    box-sizing: border-box;
    border-radius: 8px;

    /* Inside Auto Layout */
    flex: none;
    padding:12px 16px 12px 16px;

    /* IBM Plex / Button */
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    /* identical to box height, or 24px */

}
#modal_button_yes{
    color: #C5F2C7;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;

    margin-left:8px;
    background: #1F8B24;
    box-shadow: 0px 1px 2px rgba(97, 97, 97, 0.2), 0px 2px 4px rgba(97, 97, 97, 0.2);
    border-radius: 8px;
}
#modal_button_no{
    color: #818181;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;

    margin-right:8px;
    background: #FFFFFF;
    border: 1px solid #C0C0C0;
    box-sizing: border-box;
    border-radius: 8px;

}
::-webkit-scrollbar {
    display:none;
}
