/* 3.1 story.1 */
#BackGround{
    position: relative;
    width: 1440px;
    height: 1024px;

    background: #FFFFFF;
    }

/* Frame 42 */
#STEP_BAR{
    /* Auto Layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;


    position: absolute;
    width: 39px;
    height: 608px;
    left: 16px;
    top: calc(50% - 608px/2);
}

/* index-S */
#STEP_1{
    position: absolute;
    width: 39px;
    height: 120px;
    left: 0px;
    top: 0px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 2px;

    /* 3 */
    background: #B9E4C9;
    border-radius: 8px;

}


/* text */
#STEP_1_TEXT{
    position: absolute;
    left: 10.26%;
    right: 41.03%;
    top: 11.67%;
    bottom: 14.17%;

    font-family: B612;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    /* 000 */
    color: #000000;
}

/* index-s */
#STEP_2{
    position: absolute;
    width: 39px;
    height: 120px;
    left: 0px;
    top: 122px;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 2px;


    /* 5.5 */
    background: #E6E2CF;
    border-radius: 8px;
}

/* text */
#STEP_2_TEXT{
    position: absolute;
    left: 10.26%;
    right: 41.03%;
    top: 11.67%;
    bottom: 14.17%;

    font-family: B612;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    /* 0040 */
    color: #666666;
}

/* index-s */
#STEP_3{
    position: absolute;
    width: 39px;
    height: 120px;
    left: 0px;
    top: 244px;


    /* Inside Auto Layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 2px;

    /* 5.5 */
    background: #E6E2CF;
    border-radius: 8px;
}

/* text */
#STEP_3_TEXT{
    position: absolute;
    left: 10.26%;
    right: 41.03%;
    top: 11.67%;
    bottom: 14.17%;

    font-family: B612;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    /* 0040 */
    color: #666666;
}

/* index-s */
#STEP_4{
    position: absolute;
    width: 39px;
    height: 120px;
    left: 0px;
    top: 366px;


    /* Inside Auto Layout */
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 2px;

    /* 5.5 */
    background: #E6E2CF;
    border-radius: 8px;
    }

/* text */
#STEP_4_TEXT{
    position: absolute;
    left: 10.26%;
    right: 41.03%;
    top: 11.67%;
    bottom: 14.17%;

    font-family: B612;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    /* 0040 */
    color: #666666;
}

/* index-s */
#STEP_5{
    position: absolute;
    width: 39px;
    height: 120px;
    left: 0px;
    top: 488px;

    /* Inside Auto Layout */
    flex: none;
    order: 4;
    flex-grow: 0;
    margin: 0px 2px;

    /* 5.5 */
    background: #E6E2CF;
    border-radius: 8px;
}

/* text */
#STEP_5_TEXT{
    position: absolute;
    left: 10.26%;
    right: 41.03%;
    top: 11.67%;
    bottom: 14.17%;

    font-family: B612;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    /* 0040 */
    color: #666666;
}

/* border */
#Field{
    position: absolute;
    width: 1340px;
    height: 968px;
    left: 50px;
    top: 56px;
    z-index: 1;

    /* 4 */
    background: #FFFBE6;
}


/* button - Arrow */
#button_next{
    /* button - Arrow */

    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 109px;
    height: 48px;
    right: 55px;
    top: calc(50% - 48px/2 + 399px);
    z-index: 2;

    background-image: url("img/button - Arrow.png");
    background-size : cover;
}

/* charbar */
#LeftSidebar{
    /* Auto Layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 15px 40px 10px;
    z-index: 2;

    position: absolute;
    width: 110px;
    height: 608px;
    left: 50px;
    top: calc(50% - 608px/2);

    /* 5.5 */
    background: #E6E2CF;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

/* Card_small */
#Card_small_1 {
    position: absolute;
    width: 85px;
    height: 114px;
    left: calc(50% - 85px/2 - 12.5px);
    top: calc(50% - 114px/2 - 202px);

    background: #C4C4C4;
    border: 1px solid #000000;
    box-sizing: border-box;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 20px;
}


/* Card_small */
#Card_small_2 {
    position: absolute;
    width: 85px;
    height: 114px;
    left: calc(50% - 85px/2 - 12.5px);
    top: calc(50% - 114px/2 - 63px);

    background: #C4C4C4;
    border: 1px solid #000000;
    box-sizing: border-box;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 20px;


}

/* Card_small */
#Card_small_3 {
    position: absolute;
    width: 85px;
    height: 114px;
    left: calc(50% - 85px/2 - 12.5px);
    top: calc(50% - 114px/2 + 76px);

    background: #C4C4C4;
    border: 1px solid #000000;
    box-sizing: border-box;

    /* Inside Auto Layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 20px;
}

/* Card_small */
#Card_small_4 {
    position: absolute;
    width: 85px;
    height: 114px;
    left: calc(50% - 85px/2 - 12.5px);
    top: calc(50% - 114px/2 + 215px);

    background: #C4C4C4;
    border: 1px solid #000000;
    box-sizing: border-box;

    /* Inside Auto Layout */
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 20px;
}

/* story border */
#story_border{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 1020px;
    height: 680px;
    left: 210px;
    top: 192px;
    z-index: 1;
}


/* Frame 43 */
#story_frame{
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 1020px;
    height: 680px;
    left: calc(50% - 1020px/2);
    top: calc(50% - 680px/2);

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}


/* Rectangle 64 */
#left_frame{
    position: static;
    width: 510px;
    height: 680px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    border: 1px dashed #E6E6E6;
    box-sizing: border-box;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

/* Rectangle 65 */
#right_frame{
    position: static;
    width: 510px;
    height: 680px;
    left: 510px;
    top: 0px;

    background: #FFFFFF;
    border: 1px dashed #E6E6E6;
    box-sizing: border-box;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}

/* Guide&Keyword */
#guide_keyword{
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    z-index: 1;

    position: absolute;
    width: 1050px;
    height: 43px;
    left: calc(50% - 1050px/2);
    top: 130px;
}


/* Keyword */
#keyword{
    position: absolute;
        width: 150px;
    height: 70px;
    left: 12.5px;
    top: -13.5px;

    border-radius: 10px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 5px 0px;
}

/* KWbg */
#keyword_box{
    position: absolute;
    width: 162px;
    height: 70px;
    left: calc(50% - 162px/2);
    top: calc(50% - 70px/2 - 1px);

    /* 5.5 */
    background: #E6E2CF;
    border-radius: 8px;
}

/* 상황키워드 */
#keyword_text{
    position: absolute;
    width: 123px;
    height: 57px;
    left: calc(50% - 123px/2 + 20.5px);
    top: calc(50% - 57px/2 - 0.5px);

    font-family: B612;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* or 140% */
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}


/* GuideQ */
#guide{
    position: absolute;
    width: 870px;
    height: 70px;
    left: 167.5px;
    top: -13.5px;

    border-radius: 10px;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 5px 0px;
}

/* GQbg */
#guide_box{
    position: absolute;
    width: 860px;
    height: 70px;
    left: 10px;
    top: -1px;

    /* 5.5 */
    background: #E6E2CF;
    border-radius: 8px;
}

#guide_text_box{
    /* Frame 45 */

    /* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 25px 10px 10px;

    position: absolute;
    width: 870px;
    height: 43px;
    left: 0.5px;
    top: calc(50% - 43px/2 - 1px);

}

/* 가이드 질문 */
#guide_text{
    position: absolute;
    width: 805px;
    height: 23px;
    left: 10px;
    top: calc(50% - 57px/2 - 0.5px);

    font-family: B612;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    /* identical to box height, or 140% */
    text-align: center;


    color: #000000;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 10px 0px;
}
#guide_image{
    /* Message */
    position: absolute;
    width: 30px;
    height: 30px;
    left: 820px;
    top: 0px;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 10px 0px;

    background-image: url(img/Message.png);
    background-size : cover;

}

/* Text Area */
/* 문장을 입력하세요. */
#input_text{
    position: absolute;
    width: 1035px;
    height: 72px;
    left: 195px;
    top: 880px;
    z-index: 2;

    border: 2px solid #666666;
    box-sizing: border-box;
    border-radius: 4px;

    font-family: B612;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    /* identical to box height, or 140% */
    text-align: center;

    /* Color - Grey 2 */
    color: #4F4F4F;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}
/* BGbar */


/* Auto Layout */
#RightSidebar{
    /* BGbar */

    /* Auto Layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 10px 40px 15px;

    position: absolute;
    width: 110px;
    height: 528px;
    right: 50px;
    top: calc(50% - 608px/2);
    z-index: 2;

    /* 5.5 */
    background: #E6E2CF;
    box-shadow: -2px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#Ground_small_1{
    position: absolute;
    width: 85px;
    height: 72px;
    left: 5px;
    top: 40px;

    background: url(img/ground/1.png);

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 20px;
}


#Ground_small_2{
    position: absolute;
    width: 85px;
    height: 76px;
    left: 5px;
    top: 145px;

    background: url(img/ground/2.png);

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 20px;
}

#Ground_small_3{
    position: absolute;
    width: 85px;
    height: 76px;
    left: 5px;
    top: 250px;

    background: url(img/ground/3.png);

    /* Inside Auto Layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 20px;
}

#Ground_small_4{
    position: absolute;
    width: 85px;
    height: 76px;
    left: 5px;
    top: 355px;

    background: url(img/ground/4.png);

    /* Inside Auto Layout */

    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 20px;
}

#camera{
    /* BG */


    position: absolute;
    width: 100px;
    height: 90px;
    left: -5px;
    top: 460px;


    /* Inside Auto Layout */

    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 20px;

    background: url(img/camera.png);
    background-size : cover;

}