/* 1.3.1 reading-1 */
#background{
    position: relative;
    width: 1440px;
    height: 1024px;

    background: #FFFFFF;
}

/* Group 19 */
#Field {
    position: absolute;
    width: 1340px;
    height: 949px;
    left: calc(50% - 1340px / 2);
    top: calc(50% - 949px / 2 + 37.5px);

    background: #ffffff;
}

#shelf {
    position: absolute;
    width: 1340px;
    height: 30px;
    left: calc(50% - 1337px/2 + 26px);
    top: calc(50% - 30px/2 + 460px);

    background: url("img/shelf.png");
    background-repeat: no-repeat;
}


/* readingborder */
#reading_border{
    position: absolute;
    width: 1020px;
    height: 680px;
    left: calc(50% - 1020px/2);
    top: calc(50% - 680px/2);

    background: #000000;
}

#left_move {
    position: absolute;
    width: 69px;
    height: 69px;
    left: calc(50% - 69px / 2 - 619.5px);
    top: calc(50% - 69px / 2 + 62.5px);
    z-index: 3;
    background: url("img/left.png");
    border-radius: 8px;

}

/* 오른쪽 넘기기 */
#right_move {
    position: absolute;
    width: 69px;
    height: 69px;
    left: calc(50% - 69px / 2 + 631.5px);
    top: calc(50% - 69px / 2 + 54.5px);
    z-index: 3;
    background: url("img/right.png");
    border-radius: 8px;
}