/* 1.3.1 reading */
#BackGround {
    position: relative;
    width: 1440px;
    height: 1024px;

    background: #FFFFFF;
}
/* Rectangle 67 */
#Field {
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 0px;

    background: #EEEEEE;
}

/* Rectangle 78 */
#sub_border_1 {
    position: absolute;
    width: 1300px;
    height: 861px;
    left: 70px;
    top: 2px;

    background: #FFFEF6;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 80px 80px;
}

/* Rectangle 79 */
#sub_border_2 {
    position: absolute;
    width: 1300px;
    height: 861px;
    left: 60px;
    top: -11px;

    background: #FFFEF6;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 80px 80px;
}


/* 003-double-swipe 1 */
#two_finger {
    position: absolute;
    width: 47px;
    height: 46px;
    left: 891.02px;
    top: 921.08px;

    background: url("img/two_finger.png");
    opacity: 0.6;

}
/* 책페이지을 두 손가락으로 넘겨서 읽을 수 있어요. */
#two_finger_text {
    position: absolute;
    width: 431px;
    height: 42px;
    left: 942px;
    top: 912px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    /* or 30px */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #000000;

    opacity: 0.6;
}

/* Group 67 */
#backpage_btn {
    position: absolute;
    width: 170px;
    height: 60px;
    left: 20px;
    top: 909.32px;
}

/* Vector 45 */
#backpage_arrow {
    position: absolute;
    height: 24px;
    width: 163px;
    left: 30px;
    top: 27px;
    z-index: 2;


    background-image: url("img/go_backpage_arrow.svg");
}

/* 책장으로 돌아가기 */
#backpage_text {
    position: absolute;
    width: 107px;
    height: 51.45px;
    left: 60px;
    top: -20px;
    z-index: 2;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 140%;
    /* or 35px */

    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #989898;
}


/* Vector */
#read_book_vector {
    position: absolute;
    width: 106px;
    height: 100px;
    left: 53px;
    top: 878px;

    background-image: url("img/read_book_vector.png");
    background-size: cover;
}

#read_book_vector_2 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 890px;
    top: 910px;

    background-image: url("img/read_book_vector.png");
    background-size: cover;
}
/* 노리스 아이콘제작 1 */
#noris_icon {
    position: absolute;
    left: 6.46%;
    right: 74.31%;
    top: 3.12%;
    bottom: 88.48%;

    background: url("img/noris_icon.png");
    background-repeat: no-repeat;
    opacity: 0.8;
    backdrop-filter: blur(13px);
    /* Note: backdrop-filter has minimal browser support */
}



/* Mask Group */
#main_border {
    position: absolute;
    width: 1300px;
    height: 861px;
    left: 77px;
    top: -26px;

    background: #FFFEF6;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 80px 80px;
}

/* 일상의 미로 */
#title {
    position: absolute;
    width: 133px;
    height: 52px;
    left: 1227px;
    top: 49px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 140%;

    /* or 35px */
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #000000;
}