#background {
    position: relative;
    width: 1440px;
    height: 1024px;
    overflow: hidden;
    margin:0px;
}

#noris_icon {
    position: absolute;
    width: 277px;
    height: 85.97px;
    left: 55px;
    top: 31.99px;

    background: url("img/noris_icon.png");
    opacity: 0.8;
}

#backpage_btn {
    position: absolute;
    width: 181.58px;
    height: 83.68px;
    left: 1191.42px;
    top: 31.84px;

}

#backpage_img {
    position: absolute;
    width: 106.21px;
    height: 80.46px;
    left: 0px;
    top: 3.22px;

    transform: rotate(-176.42deg);
    background-image: url("img/go_backpage.svg");

}

#backpage_text {
    position: absolute;
    width: 107px;
    height: 51.75px;
    left: 57.58px;
    top: 0px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 140%;
    /* or 35px */

    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #989898;
}

#backpage_arrow {
    position: absolute;
    width: 163px;
    height: 25px;
    left: 20px;
    top: 27.06px;

    background-image: url("img/go_backpage_arrow.svg");
}

#gallery_text_container {
    position: absolute;
    width: 675px;
    height: 174px;
    left: 153px;
    top: 205px;
}

.gallery_text {
    font-family: Noto Sans KR;
    font-style: normal;

    font-size: 70px;
    line-height: 150%;
    /* or 105px */

    display: inline-block;
    margin: 0;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #000000;

    opacity: 0.6;
}

#gallery_text1{
    font-weight: 300;
}

#gallery_text2{
    font-weight: 300;
}

#gallery_text3{
    font-weight: bold;
}

#gallery_text4{
    font-weight: 300;
}

#gallery_text5{
    font-weight: 300;
}


#read_book_background {
    position: absolute;
    width: 577.54px;
    height: 427.84px;
    left: 580px;
    top: 374px;

    background-image: url("img/read_start_background.svg");
    transform: rotate(-20.79deg);
}

#book_cover {
    position: absolute;
    height: 383.32px;
    width: 524px;
    left: -70px;
    top: 70px;
    transform: rotate(270deg);
    border-radius: 34px;
}

#book1 {
    position: absolute;
    width: 383.32px;
    height: 524px;
    left: 796px;
    top: 360px;
    z-index: 3;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.1));
    transform: rotate(62.68deg);
    background: linear-gradient(0deg, #EDEDE0, #EDEDE0), linear-gradient(0deg, #EDEDE0, #EDEDE0), #EDEDE0;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
}

#book2 {
    position: absolute;
    width: 383.32px;
    height: 524px;
    left: 800px;
    top: 370px;
    z-index: 2;
    filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.15));
    transform: rotate(62.68deg);
    background: linear-gradient(0deg, #EDEDE0, #EDEDE0), linear-gradient(0deg, #EDEDE0, #EDEDE0), #EDEDE0;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
}

#book3 {
    position: absolute;
    width: 383.32px;
    height: 524px;
    left: 800px;
    top: 376px;
    z-index: 1;
    filter: drop-shadow(4px 4px 9px rgba(147, 147, 147, 0.2));
    transform: rotate(62.68deg);
    background: linear-gradient(0deg, #EDEDE0, #EDEDE0), linear-gradient(0deg, #EDEDE0, #EDEDE0), #EDEDE0;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
}

#go_read_btn {
    position: absolute;
    width: 189.29px;
    height: 117.09px;
    left: 1200px;
    top: 800px;
}

#go_read_img {
    position: absolute;
    width: 83.83px;
    height: 63.82px;
    left: 90px;
    top: 35px;

    background-image: url("img/go_read_img.svg");
    transform: rotate(48.67deg);
}

#go_read_text {
    position: absolute;
    width: 160px;
    height: 81px;
    left: 0px;
    top: 10px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 150%;
    /* or 37px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #000000;

    opacity: 0.6;
}

#go_read_arrow {
    position: absolute;
    width: 160px;
    height: 30px;
    left: 10px;
    top: 60px;

    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

    background-image: url("img/go_backpage_arrow.svg");
}