/* 표지제작 */
#BackGround {
    position: relative;
    width: 2000px;
    height: 1290px;
    z-index: 0;
    background: #FFFFFF;
}


/* LeftSidebar */
#LeftSidebar {
    position: absolute;
    width: 165px;
    height: 736px;
    left: 58px;
    top: 365px;
}


/* Rectangle 25 */
#LeftSidebar_right {
    position: absolute;
    left: -18%;
    right: 0;
    top: 0;
    bottom: 0;

    background: #EFEFEF;
    box-shadow: 3px 6px 2px rgba(0, 0, 0, 0.29);
    border-radius: 28px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

/* Rectangle 33 */
#LeftSidebar_left {
    position: absolute;
    left: -101%;
    right: 100%;
    top: 0;
    bottom: -10%;

    background: #FFFFFF;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

/* Group 19 */
#Field {
    position: absolute;
    width: 1894px;
    height: 1120px;
    left: 53px;
    top: 119px;
}


/* border */
#border {
    position: absolute;
    width: 1890px;
    height: 1100px;
    z-index: 1;

    background: rgba(196, 196, 196, 0.02);
    border: 2px solid #88B9A4;
    box-sizing: border-box;
}

/* STATBAR */
#STATBAR {
    position: absolute;
    width: 1894px;
    height: 80px;

    background: #88B9A4;
    border-radius: 11px;

}

/* TEXT */
#step {
    position: absolute;
    left: 45%;
    right: 30%;
    top: 0;
    bottom: 0;


    font-size: 36px;
    line-height: 150%;
    /* or 54px */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.0168em;
    font-feature-settings: 'tnum' on, 'lnum' on;

    color: #FFFFFF;
}

/* bottom_bar */
#bottom_bar {
    position: absolute;
    width: 2000px;
    height: 30px;
    left: 0;
    top: 1260px;

    background: #88B9A4;
}

#next_step {
    position: absolute;
    left: 92.15%;
    right: 4.85%;
    top: 88.37%;
    bottom: 6.98%;
    z-index: 3;

    /* Black */
    background-image: url("img/next_step.png");
}

#card_box {
    position: absolute;
    width: 99px;
    height: 738px;
    left: 156px;
    top: 351px;

}

#card1 {
    position: absolute;
    width: 99px;
    height: 132px;
    left: 156px;
    top: 351px;
    z-index: 1;
    background: #FCCA46;
    border: 1px solid #000000;
    box-sizing: border-box;

    background-size: 99px 132px;
}

#card2 {
    position: absolute;
    width: 99px;
    height: 132px;
    left: 156px;
    top: 555px;
    z-index: 1;
    background: #FCCA46;
    border: 1px solid #000000;
    box-sizing: border-box;

    background-size: 99px 132px;
}

#card3 {
    position: absolute;
    width: 99px;
    height: 132px;
    left: 156px;
    top: 755px;
    z-index: 1;
    background: #FCCA46;
    border: 1px solid #000000;
    box-sizing: border-box;

    background-size: 99px 132px;
}

#card4 {

    position: absolute;
    width: 99px;
    height: 132px;
    left: 156px;
    top: 957px;
    z-index: 1;
    background: #FCCA46;
    border: 1px solid #000000;
    box-sizing: border-box;

    background-size: 99px 132px;
}

#set_card {
    position: absolute;
    width: 250px;
    height: 334px;
    left: 569px;
    top: 477px;
    z-index: 1;

    background: #FBEAAF;
    border: 1px solid #000000;
    box-sizing: border-box;

    background-size: 250px 334px;
}

#option_box {
    position: absolute;
    width: 507px;
    height: 283px;
    left: 974px;
    top: 528px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 150%;
    /* or 54px */

    display: flex;
    letter-spacing: 0.0168em;
    font-feature-settings: 'tnum' on, 'lnum' on;

    color: #000000;
}

#name{
    position: absolute;
    width: 507px;
    height: 283px;
    left: 974px;
    top: 588px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 150%;
    z-index: 1;
    /* or 54px */

    display: flex;
    letter-spacing: 0.0168em;
    font-feature-settings: 'tnum' on, 'lnum' on;

    color: #000000;
}

#personality{
    position: absolute;
    width: 507px;
    height: 283px;
    left: 974px;
    top: 648px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 150%;
    /* or 54px */

    display: flex;
    letter-spacing: 0.0168em;
    font-feature-settings: 'tnum' on, 'lnum' on;

    color: #000000;
}

#etc{
    position: absolute;
    width: 507px;
    height: 283px;
    left: 974px;
    top: 708px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 150%;
    /* or 54px */

    display: flex;
    letter-spacing: 0.0168em;
    font-feature-settings: 'tnum' on, 'lnum' on;

    color: #000000;
}

#main_char{
    position: absolute;
    width: 507px;
    height: 283px;
    left: 974px;
    top: 768px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 150%;
    /* or 54px */
    z-index: 1;

    display: flex;
    letter-spacing: 0.0168em;
    font-feature-settings: 'tnum' on, 'lnum' on;

    color: #000000;
}

#name_text{
    
    width: 300px;
    height: 40px;
    font-size: 36px;
    z-index: 2;
}

#etc_text{

    width: 300px;
    height: 40px;
    font-size: 36px;
    z-index: 2;
}