/* 관계 설정 */
#BackGround {
    position: relative;
    width: 2000px;
    height: 1290px;

    background: #FFFFFF;
}

/* Group 19 */
#Field {
    position: absolute;
    width: 1894px;
    height: 1120px;
    left: 53px;
    top: 119px;
}


/* border */
#border {
    position: absolute;
    width: 1890px;
    height: 1100px;
    z-index: 1;

    background: rgba(196, 196, 196, 0.02);
    border: 2px solid #88B9A4;
    box-sizing: border-box;
}

/* STATBAR */
#STATBAR {
    position: absolute;
    width: 1894px;
    height: 80px;

    background: #88B9A4;
    border-radius: 11px;

}

/* TEXT */
#step {
    position: absolute;
    left: 47%;
    right: 30%;
    top: 0;
    bottom: 0;


    font-size: 36px;
    line-height: 150%;
    /* or 54px */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.0168em;
    font-feature-settings: 'tnum' on, 'lnum' on;

    color: #FFFFFF;
}

#next_step {
    position: absolute;
    left: 92.15%;
    right: 4.85%;
    top: 88.37%;
    bottom: 6.98%;
    z-index: 3;

    /* Black */
    background-image: url("img/next_step.png");
}

/* bottom_bar */
#bottom_bar {
    position: absolute;
    width: 2000px;
    height: 30px;
    left: 0;
    top: 1260px;

    background: #88B9A4;
}

/* Left Character Menu */
#character_menu {
    position: absolute;
    width: 170px;
    height: 736px;
    left: 53px;
    top: 326px;

    background: rgba(196, 196, 196, 0.35);
    box-shadow: 3px 6px 2px rgba(0, 0, 0, 0.29);
    border-radius: 28px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    z-index:10;
}
.card_img {
    width:90%;
    height:90%;
    object-fit: contain;
    margin: 5px;
 }
.character_card{
    position: absolute;
    width: 99px;
    height: 132px;

    z-index: 15;
    cursor: move;

    background: #C4C4C4;
    background-size : cover;
    border: 1px solid #000000;
    box-sizing: border-box;

}
#character_1{
    left: 18px;
    top: 73px;
}
#character_2{
    left: 18px;
    top: 231px;
}
#character_3{
    left: 18px;
    top: 389px;
}
#character_4{
    left: 18px;
    top: 547px;
}
.relation_card_positive{
    position: absolute;
    width: 99px;
    height: 132px;

    background: #9CD9FC;
    border: 1px solid #000000;
    box-sizing: border-box;

    z-index: 15;
    cursor: move;
}
.relation_card_neutrality{
    position: absolute;
    width: 99px;
    height: 132px;

    background: #FCE19C;
    border: 1px solid #000000;
    box-sizing: border-box;

    z-index: 15;
    cursor: move;
}
.relation_card_negative{
    position: absolute;
    width: 99px;
    height: 132px;

    background: #FCB59C;
    border: 1px solid #000000;
    box-sizing: border-box;

    z-index: 15;
    cursor: move;
}
#relation_card_pos1{
    left: 516px;
    top: 1054px;
}
#relation_card_pos2{
    left: 635px;
    top: 1054px;
}
#relation_card_pos3{
    left: 754px;
    top: 1054px;
}
#relation_card_neu1{
    left: 923px;
    top: 1054px;
}
#relation_card_neu2{
    left: 1042px;
    top: 1054px;
}
#relation_card_neg1{
    left: 1196px;
    top: 1054px;
}
#relation_card_neg2{
    left: 1315px;
    top: 1054px;
}
#relation_card_neg3{
    left: 1434px;
    top: 1054px;
}
.character_selected_card{
    position: absolute;
    width: 250px;
    height: 334px;

    background: #C4C4C4;
    background-size : cover;
    border: 1px solid #000000;
    box-sizing: border-box;

    padding-top:5px;
    padding-left:10px;
}
#img_star{
    position:absolute;
    width:41px;
    height:41px;

    top:556px;
    left:513px;
}
#character_main{
    left: 304px;
    top: 556px;
}
#character_sub{
    left: 1529px;
    top: 556px;
}
.relation_selected_card{
    position: absolute;
    width: 99px;
    height: 132px;

    background: rgba(196, 196, 196, 0.35);
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-sizing: border-box;

    z-index: 15;
}
.relation_selected_card_pos{
    position: absolute;
    width: 99px;
    height: 132px;

    background: #9CD9FC;
    border: 1px solid #000000;
    box-sizing: border-box;

    z-index: 15;
}
.relation_selected_card_neu{
    position: absolute;
    width: 99px;
    height: 132px;

    background: #FCE19C;
    border: 1px solid #000000;
    box-sizing: border-box;

    z-index: 15;
}
.relation_selected_card_neg{
    position: absolute;
    width: 99px;
    height: 132px;

    background: #FCB59C;
    border: 1px solid #000000;
    box-sizing: border-box;

    z-index: 15;
}
#relation_selected_card1{
    left: 634px;
    top: 667px;
}
#relation_selected_card2{
    left: 813px;
    top: 667px;
}
#relation_selected_card3{
    left: 992px;
    top: 667px;
}
#relation_selected_card4{
    left: 1171px;
    top: 667px;
}
#relation_selected_card5{
    left: 1350px;
    top: 667px;
}
.relation_context{
    display: flex;
    width:100%;
    height:100%;
    align-items: center;
    justify-content: center;
}

#next_shape{
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    z-index: 2;

    position: absolute;
    width: 107px;
    height: 48px;
    left: 1278px;
    top: 884px;
}
#next_step_body_1{
    /* Text / Next */
    /* Auto Layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 107px;
    left: calc(50% - 107px/2);
    top: 0%;
    bottom: 0%;

    /* 2 */

    background: #37966F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}

#next_step_body_2{
    /* Body */
    /* Auto Layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 16px;

    position: static;
    width: 107px;
    left: calc(50% - 107px/2);
    top: 0px;
    bottom: 0px;

    border-radius: 8px;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}

/* Caption */
#next_step_text{
    position: absolute;
    width: 39px;
    height: 5px;
    left: 10px;
    top: 0px;

    font-family: B612;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 24px */
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #FFFFFF;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 12px 0px;
}

/* arrow-right */
#next_step_image{
    position: absolute;
    left: 62.62%;
    right: 14.95%;
    top: 29.17%;
    bottom: 27.17%;

    background-image: url(img/arrow-right.png);
}