/* BGcolor */
#backGround {
    position: absolute;
    width: 1894px;
    height: 1120px;
    left: 53px;
    top: 119px;
}

#STATBAR {

    position: absolute;
    width: 1894px;
    height: 80px;
    left: 53px;
    top: 119px;
    background: #88B9A4;
    border-radius: 11px;
}

#step {

    position: absolute;
    left: 40.81%;
    right: 38.91%;
    top: 0%;
    bottom: 0%;
    z-index: 1;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 150%;
    /* or 54px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.0168em;
    font-feature-settings: 'tnum' on, 'lnum' on;

    color: #FFFFFF;

    border: 1px solid rgba(0, 0, 0, 0.2);
}

#border {

    position: absolute;
    width: 1890px;
    height: 1100px;
    left: 55px;
    top: 139px;

    background: rgba(196, 196, 196, 0.02);
    border: 2px solid #88B9A4;
    box-sizing: border-box;
}

#next_step {
    position: absolute;
    left: 92.15%;
    right: 4.85%;
    top: 88.37%;
    bottom: 6.98%;

    /* Black */
    background-image: url("img/next_step.png");
    background:no-repeat;
}

#redraw {

    position: absolute;
    width: 68px;
    height: 68px;
    left: 1839px;
    top: 1068px;

    background-image: url("img/redraw.png");

}

#bottom_bar {
    position: absolute;
    width: 2000px;
    height: 30px;
    left: 0px;
    top: 1265px;

    background: #88B9A4;
}

