#backGround {
    position: absolute;
    width: 1894px;
    height: 1120px;
    left: 53px;
    top: 119px;
}

#STATBAR {

    position: absolute;
    width: 1894px;
    height: 80px;
    left: 53px;
    top: 119px;
    background: #88B9A4;
    border-radius: 11px;
}

#step {

    position: absolute;
    left: 40.81%;
    right: 38.91%;
    top: 0%;
    bottom: 0%;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 150%;
    /* or 54px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.0168em;
    font-feature-settings: 'tnum' on, 'lnum' on;

    color: #FFFFFF;

    border: 1px solid rgba(0, 0, 0, 0.2);
}

#next_step {
    position: absolute;
    left: 92.15%;
    right: 4.85%;
    top: 88.37%;
    bottom: 6.98%;

    background-image: url("img/next_step.png");
    background:no-repeat;
}




#bottom_bar {
    position: absolute;
    width: 2000px;
    height: 30px;
    left: 0px;
    top: 1260px;
    background: #88B9A4;
}