#BackGround {
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: calc(50% - 1440px / 2);
    top: calc(50% - 1024px / 2 );
    z-index: 0;
    background: aqua;
}

/* Group 19 */
#Field {
    position: absolute;
    width: 1340px;
    height: 949px;
    left: calc(50% - 1340px / 2);
    top: calc(50% - 949px / 2 + 37.5px);

    background: #FFFBE6;
}

#stepbar {
    position: absolute;
    width: 39px;
    height: 631px;
    left: calc(50% - 39px / 2 );
    top: calc(50% - 631px / 2 );

}

/* TEXT */
#step1 {
    position: absolute;
    width: 39px;
    height: 207px;
    left: calc(50% - 39px / 2 - 684.5px);
    top: calc(50% - 207px / 2 - 212.5px);

    font-family: B612;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #000000;

    background: #E6E2CF;
    border-radius: 8px;
}

#step2 {
    position: absolute;
    width: 39px;
    height: 207px;
    left: calc(50% - 39px / 2 - 684.5px);
    top: calc(50% - 207px / 2 - 0.5px);

    font-family: B612;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #666666;

    background: #B9E4C9;
    border-radius: 8px;
}


#step3 {
    position: absolute;
    width: 39px;
    height: 207px;
    left: calc(50% - 39px / 2 - 684.5px);
    top: calc(50% - 207px / 2 + 211.5px);

    font-family: B612;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #666666;

    background: #E6E2CF;
    border-radius: 8px;
}



#card_box {
    position: absolute;
    width: 85px;
    height: 582px;
    left: 164px;
    top: 221px;

}

#card1 {
    position: absolute;
    width: 85px;
    height: 114px;
    left: calc(50% - 85px / 2 - 513.5px);
    top: calc(50% - 114px / 2 - 234px);

    background: #FCCA46;
    /* 5.5 */

    border: 1px solid #E6E2CF;
    box-sizing: border-box;
    border-radius: 8px;
    background-size: 85px 114px;

}

#card2 {
    position: absolute;
    width: 85px;
    height: 114px;
    left: calc(50% - 85px / 2 - 513.5px);
    top: calc(50% - 114px / 2 - 78px);

    background: #FCCA46;
    /* 5.5 */

    border: 1px solid #E6E2CF;
    box-sizing: border-box;
    border-radius: 8px;
    background-size: 85px 114px;
}

#card3 {
    position: absolute;
    width: 85px;
    height: 114px;
    left: calc(50% - 85px / 2 - 513.5px);
    top: calc(50% - 114px / 2 + 78px);

    background: #FCCA46;
    /* 5.5 */

    border: 1px solid #E6E2CF;
    box-sizing: border-box;
    border-radius: 8px;
    background-size: 85px 114px;
}

#card4 {
    position: absolute;
    width: 85px;
    height: 114px;
    left: calc(50% - 85px / 2 - 513.5px);
    top: calc(50% - 114px / 2 + 234px);

    background: #FCCA46;
    /* 5.5 */

    border: 1px solid #E6E2CF;
    box-sizing: border-box;
    border-radius: 8px;
    background-size: 85px 114px;
}






#set_card {
    position: absolute;
    width: 199px;
    height: 276px;
    left: calc(50% - 199px / 2 - 228.5px);
    top: calc(50% - 276px / 2 - 2px);

    z-index: 1;

    background: #FBEAAF;
    /* 5.5 */

    border: 1px solid #E6E2CF;
    box-sizing: border-box;
    border-radius: 12px;

    background-size: 199px 276px;
}

#option_box {
    position: absolute;
    width: 507px;
    height: 283px;
    left: 974px;
    top: 528px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 150%;
    /* or 54px */

    display: flex;
    letter-spacing: 0.0168em;
    font-feature-settings: 'tnum' on, 'lnum' on;

    color: #000000;
}

#name_box {
    position: absolute;
    width: 258px;
    height: 77px;
    left: calc(50% - 258px / 2 + 114px);
    top: calc(50% - 77px / 2 - 101.5px);

}

#name {
    position: absolute;
    width: 87px;
    height: 23px;
    left: calc(50% - 87px / 2 - 85.5px);
    top: calc(50% - 23px / 2 - 27px);

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #4F4F4F;

}

#name_text {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 24px;

    position: absolute;
    width: 258px;
    height: 55px;
    left: calc(50% - 258px / 2);
    top: calc(50% - 55px / 2 + 12px);

    background: #FFFFFF;
    /* 0040 */

    border: 1px solid #666666;
    box-sizing: border-box;
    border-radius: 4px;
}
#personality_box {
    position: absolute;
    width: 258px;
    height: 77px;
    left: calc(50% - 258px / 2 + 114px);
    top: calc(50% - 77px / 2 - 1.5px);

}

#personality {
    position: absolute;
    width: 87px;
    height: 23px;
    left: calc(50% - 87px / 2 - 85.5px);
    top: calc(50% - 23px / 2 - 27px);

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #4F4F4F;
}

#personality_text {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 24px;

    position: absolute;
    width: 258px;
    height: 55px;
    left: calc(50% - 258px / 2);
    top: calc(50% - 55px / 2 + 12px);

    background: #FFFFFF;
    /* 0040 */

    border: 1px solid #666666;
    box-sizing: border-box;
    border-radius: 4px;
}

#etc_box {
    position: absolute;
    width: 258px;
    height: 77px;
    left: calc(50% - 258px / 2 + 114px);
    top: calc(50% - 77px / 2 + 97.5px);
}

#etc {
    position: absolute;
    width: 87px;
    height: 23px;
    left: calc(50% - 87px / 2 - 85.5px);
    top: calc(50% - 23px / 2 - 27px);

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;

    color: #4F4F4F;
}

#etc_text {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 24px;

    position: absolute;
    width: 258px;
    height: 55px;
    left: calc(50% - 258px / 2);
    top: calc(50% - 55px / 2 + 12px);

    background: #FFFFFF;
    /* 0040 */

    border: 1px solid #666666;
    box-sizing: border-box;
    border-radius: 4px;
}

#main_char_box {

    position: absolute;
    width: 112.22px;
    height: 25.44px;
    left: calc(50% - 112.22px / 2 + 43.11px);
    top: calc(50% - 25.44px / 2 + 170.72px);
}
#main_char {
    position: absolute;
    width: 158px;
    height: 23px;
    left: calc(50% - 158px / 2 + 62.89px);
    top: calc(50% - 23px / 2 - 1.22px);

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

}

#ck1 {

    position: absolute;
    width: 24px;
    height: 24px;
    left: calc(50% - 24px / 2 - 44.11px);
    top: calc(50% - 24px / 2 - 0.72px);

    border: 2px solid #828282;
    box-sizing: border-box;
    border-radius: 4px;
    z-index: 2;
    /*zoom:3.0;*/
}


.character_card{
    z-index:5;
}

#next_shape{
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    z-index: 2;

    position: absolute;
    width: 107px;
    height: 48px;
    left: 1278px;
    top: 884px;
}
#next_step_body_1{
    /* Text / Next */
    /* Auto Layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 107px;
    left: calc(50% - 107px/2);
    top: 0%;
    bottom: 0%;

    /* 2 */

    background: #37966F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}

#next_step_body_2{
    /* Body */
    /* Auto Layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 16px;

    position: static;
    width: 107px;
    left: calc(50% - 107px/2);
    top: 0px;
    bottom: 0px;

    border-radius: 8px;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}

/* Caption */
#next_step_text{
    position: absolute;
    width: 39px;
    height: 5px;
    left: 10px;
    top: 0px;

    font-family: B612;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 24px */
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #FFFFFF;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 12px 0px;
}

/* arrow-right */
#next_step_image{
    position: absolute;
    left: 62.62%;
    right: 14.95%;
    top: 29.17%;
    bottom: 27.17%;

    background-image: url(img/arrow-right.png);
}
