html{
    margin: 1%;
    width:80%;
    height:80%;
    background: #6c757d;
}
body{
    min-height: 70%;

}

#baseground{
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: calc(50% - 1440px / 2);
    top: calc(50% - 1024px / 2 );

    background: #ffffff;

}

#BackGround {

    position: absolute;
    width: 1337px;
    height: 968px;
    left: calc(50% - 1337px / 2 - 1.5px);
    top: calc(50% - 968px / 2 + 30px);
    z-index: 0;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);

}

#profile {
    position: absolute;
    width: 352px;
    height: 304px;
    left: calc(50% - 352px / 2 - 315px);
    top: calc(50% - 304px / 2 - 228px);

    /* 4 */

    background: #FFFBE6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
}

#profile_img {
    position: absolute;
    width: 234px;
    height: 234px;
    left: calc(50% - 234px / 2 - 457px);
    top: calc(50% - 234px / 2 - 228px);
    z-index: 1;

    background-image: url("img/profile.png");
    background-size: 100% 100%;
}

#profile_text_box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;

    position: absolute;
    width: 210px;
    height: 226px;
    left: calc(50% - 210px / 2 + 71px);
    top: calc(50% - 226px / 2 - 14px);
}

#profile_text1 {
    position: absolute;
    width: 190px;
    height: 44px;
    left: 10px;
    top: 10px;

    font-family: B612;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 44px;
    /* identical to box height, or 220% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 10px;
}

.profile_text_contents {
    font-family: B612;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 44px;
    /* identical to box height, or 275% */

    display: flex;
    align-items: center;

    /* 0040 */

    color: #666666;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 10px;
}

#profile_text2 {
    position: absolute;
    width: 190px;
    height: 44px;
    left: 10px;
    top: 64px;

}

#profile_text3 {
    position: absolute;
    width: 190px;
    height: 44px;
    left: 10px;
    top: 118px;

}


#profile_text4 {
    position: absolute;
    width: 190px;
    height: 44px;
    left: 10px;
    top: 172px;
}

#gallery {

    position: absolute;
    width: 685px;
    height: 304px;
    left: calc(50% - 685px / 2 + 243.5px);
    top: calc(50% - 304px / 2 - 228px);
    z-index: 1;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 24px;
    background-image: url("img/gallery.png");
    background-size: 100% 100%;

}

#gallery_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 32px;
    z-index: 2;
    position: absolute;
    width: 160px;
    height: 40px;
    left: calc(50% - 230.46px / 2 - 177.69px);
    top: calc(50% - 63.89px / 2 + 30px);

    /* 5 */

    background: #FD5523;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height, or 140% */


    /* Color - White */

    color: #FFFFFF;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;

}

#gallery_text {
    position: absolute;
    width: 242.56px;
    height: 45.34px;
    left: calc(50% - 242.56px / 2 - 167.84px);
    top: calc(50% - 45.34px / 2 - 30px);

    font-family: B612;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 44px;
    /* or 110% */


    /* Color - White */

    color: #FFFFFF;
}

#my_back {
    position: absolute;
    width: 1172px;
    height: 440px;
    left: calc(50% - 1172px / 2);
    top: calc(50% - 440px / 2 + 222px);

    /* 3 */

    background: #B9E4C9;
    border-radius: 8px;
}

#my_back_text {
    position: absolute;
    width: 313px;
    height: 126px;
    left: calc(50% - 313px / 2 - 380px);
    top: calc(50% - 126px / 2 + 71px);

    font-family: B612;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 44px;
    /* or 110% */

    display: flex;
    align-items: center;
    text-align: center;

    /* 1 */

    color: #356859;
}

#my_back_deco {
    position: absolute;
    width: 829px;
    height: 44px;
    left: calc(50% - 829px / 2 + 171.5px);
    top: calc(50% - 44px / 2 + 71px);

    /* 1 */

    background: #356859;
}

#my_back_box {
    position: absolute;
    width: 1121px;
    height: 278px;
    left: 159px;
    top: 659px;
}

#my_back_1 {

    position: absolute;
    width: 200px;
    height: 109px;
    left: calc(50% - 200px / 2 - 461px);
    top: calc(50% - 109px / 2 - 123.5px);

}
