{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'main.css' %}">

    <div class="cactus" style="position : absolute; left:1721px; top: 495px; z-index : 2;"><img src="/static/img/cactus.png"/></div>
    <div class="shelf" style="position : absolute; left:0px; top: 1043px; z-index : 2;"><img src="/static/img/shelf.png"/></div>
    <div class="gallery" style="position : absolute; left:0px; top: 424px; z-index : 2;"><img src="/static/img/gallery.png"/></div>

{% endblock %}