{% load static %}
<!doctype html>

<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'login_page.css' %}">
    <script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.0.js" charset="utf-8"></script>
    <title>login_page</title>
</head>
<body>
    <div class="background" id="backGround">
        <div class="logo" id="mainlogo"></div>
        <div class="logo" id="Logo">AI PUBLISHER</div>
        <div id="naverIdLogin"></div>

    </div>

    <script type="text/javascript">
	    var naverLogin = new naver.LoginWithNaverId(
		    {
			    clientId: "xXgo_JUs1mnL3JzJamfC",
			    callbackUrl: "http://127.0.0.1:8000/AI_Publisher/main",
			    isPopup: false, /* 팝업을 통한 연동처리 여부 */
			    loginButton: {color: "green", type: 3, height: 60} /* 로그인 버튼의 타입을 지정 */
    		}
    	);

	    /* 설정정보를 초기화하고 연동을 준비 */
	    naverLogin.init();
    </script>
</body>
</html>