{% load socialaccount %}
{% load static %}
<!doctype html>

<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if user.is_authenticated %}
    <link rel="stylesheet" type="text/css" href="{% static 'main_page.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">
    <script type="text/javascript" src="{% static 'navbar.js' %}"></script>
    <title>main_page</title>
    {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'login_page.css' %}">
    <script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.0.js" charset="utf-8"></script>
    <title>login_page</title>
    {% endif %}
</head>
<body>

        {% if user.is_anonymous %}
            <div class="background" id="backGround">
                <div class="logo" id="mainlogo"></div>
                <div class="logo" id="logo">AI PUBLISHER</div>
                <div id="naverIdLogin" onclick="location.href='http://127.0.0.1:8000/accounts/naver/login'"></div>
            </div>
        {% else %}
            <div class="background" id="baseground">


                <div class="gallery" id="gallery">
                    <div class="gallery" id="gallery_text">나의 책장</div>
                    <div class="gallery" id="gallery_btn" onclick="location.href='http://127.0.0.1:8000/AI_Publisher/show_gallery'">책장으로 이동</div>
                </div>


                <div claas="nextstep" id="make_str_box">
                    <div class="nextstep" id="make_str_text1">나만의 동화 만들기</div>
                    <div class="nextstep" id="make_str_text2">쉽고 재미있게 동화를 만들어보세요.</div>
                    <div class="nextstep" id="make_str_btn"  onclick="location.href='http://127.0.0.1:8000/AI_Publisher/set_character'">새 동화 만들기</div>
                </div>

                <div class="example" id="example_box">
                    <div class="example" id="example_text1">페페와<br>할아버지</div>
                    <div class="example" id="example_text2">예시 동화를 읽어보세요.</div>
                    <div class="example" id="example_btn">읽기</div>
                </div>

                <div class="introduce" id="introduction_box">
                    <div class="introduce" id="introduction_text1">About us</div>
                    <div class="introduce" id="introduction_text2">AI publisher는 무엇인가요?<br>어떤 일을 할  수 있나요?</div>
                    <div class="introduce" id="introduction_btn">더 알아보기</div>
                </div>

                <div class="upload" id="upload_box">
                    <div class="upload" id="upload_text1">Upload File</div>
                    <div class="upload" id="upload_img_background">
                        <div class="upload" id="upload_img"></div>
                    </div>
                    <div class="upload" id="upload_text2">Drag n Drop here<h1 id="browse_text1">Or</h1><h1 id="browse_text2">Browse</h1></div>
                    <div class="upload" id="dragndrop"></div>
                    <div class="upload" id="upload_btn">Upload Now</div>
                </div>

<!--                <div id="test"><a href="http://127.0.0.1:8000/accounts/logout/">{{user.email}}</a></div>-->
<!--                <form action="http://127.0.0.1:8000/accounts/logout/" method="post">-->
<!--                    {% csrf_token %}-->
<!--                    <input type="hidden" name="next" value="/AI_Publisher/"/>-->
<!--                    <input type="submit" value="로그아웃">-->
<!--                </form>-->

                <!-- 네비게이션 바 -->
                <div class="upper_bar" id="upper_bar">
                    <div class="AI_Publisher_image" id="AI_Publisher_image"></div>
                    <div class="user_icon" id="user_icon"></div>
                    <div class="username" id="username"></div>
                </div>
            </div>
        {% endif %}


</body>
</html>