{% load socialaccount %}
{% load static %}
<!doctype html>

<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if user.is_authenticated %}
    <link rel="stylesheet" type="text/css" href="{% static 'main_page.css' %}">
    <title>main_page</title>
    {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'login_page.css' %}">
    <script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.0.js" charset="utf-8"></script>
    <title>login_page</title>
    {% endif %}
</head>
<body>
    <div class="background" id="backGround">

        {% if user.is_anonymous %}
        <div class="logo" id="Logo">AI PUBLISHER</div>
        <div id="naverIdLogin"><a href="http://127.0.0.1:8000/accounts/naver/login"><img src="../../static/img/naver_login.PNG" width="400" height="60"></a></div>
        {% endif %}

        <div class="shelf" id="shelf"></div>
        <div class="gallery" id="gallery"></div>

        {% if user.is_anonymous %}
        <div class="cactus" id="cactus"></div>
        {% else %}
{#            <div class="make_story_sentence" id="make_str_sentence"><a href="http://127.0.0.1:8000/AI_Publisher/set_character">새 동화 만들기</a></div>#}
            <div claas="make_story_box" id="make_str_box" onclick="location.href='http://127.0.0.1:8000/AI_Publisher/set_character'"></div>
{#        <div class="plus_square" id="plus_square"><a href="http://127.0.0.1:8000/AI_Publisher/set_character"></a></div>#}
        <div id="test"><a href="http://127.0.0.1:8000/accounts/logout/">{{user.email}}</a></div>
        <form action="http://127.0.0.1:8000/accounts/logout/" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="/AI_Publisher/"/>
            <input type="submit" value="로그아웃">
        </form>
        {% endif %}

        <div class="bottom_bar" id="bottom_bar"></div>
    </div>

    {% if user.is_anonymous %}
	<!--<script type="text/javascript">
	    var naverLogin = new naver.LoginWithNaverId(
		    {
			    clientId: "xXgo_JUs1mnL3JzJamfC",
			    callbackUrl: "http://127.0.0.1:8000/accounts/naver/login",
			    isPopup: false, /* 팝업을 통한 연동처리 여부 */
			    loginButton: {color: "green", type: 3, height: 60} /* 로그인 버튼의 타입을 지정 */
    		}
    	);

	    /* 설정정보를 초기화하고 연동을 준비 */
	    naverLogin.init();
    </script>-->
    {% endif %}
</body>
</html>