{% load static %}
<!doctype html>

<html lang="ko">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'make_cover.css' %}">

    <title>Make Cover</title>
</head>
<body>
    <div class="BackGround" id="BackGround">
        <div class="LeftSidebar" id="LeftSidebar">
            <div class="LeftSidebar_right" id="LeftSidebar_right"></div>
            <div class="LeftSidebar_left" id="LeftSidebar_left"></div>
        </div>

        <div class="Field" id="Field">
            <div class="border" id="border"></div>
            <div class="STATBAR" id="STATBAR">
                <div class="step" id="step">관계 설정</div>
            </div>
        </div>

        <div class="upper_bar" id="upper_bar">
            <div class="user_icon" id="user_icon"></div>
            <div class="username" id="username">Coople</div>
        </div>

        <div class="input_text_box" id="input_text_box">
            <div class="input_text" id="input_text">문장을 입력하세요</div>
        </div>

        <div class="Rectangle_17" id="Rectangle_17"></div>

        <div class="Select_Character_Card_Field" id="Select_Character_Card_Field">
            <div class="Card_small_1" id="Card_small_1"></div>
            <div class="Card_small_2" id="Card_small_2"></div>
            <div class="Card_small_3" id="Card_small_3"></div>
            <div class="Card_small_4" id="Card_small_4"></div>
        </div>

        <div class="bottom_bar" id="bottom_bar"></div>

        <div class="RigthSidebar" id="RigthSidebar">
            <div class="RigthSidebar_left" id="RigthSidebar_left"></div>
            <div class="RigthSidebar_right" id="RigthSidebar_right"></div>
        </div>

        <div class="nextstep" id="nextstep"></div>
    </div>



</body>
</html>