{% load static %}
<!doctype html>

<html lang="ko">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'make_story.css' %}">
    <script src="{% static 'jquery-3.5.1.min.js' %}"></script>

    <title>Make Story</title>
</head>
<body>
    <div class="BackGround" id="BackGround">
        <!--왼쪽 메뉴-->
        <div class="LeftSidebar" id="LeftSidebar">
            <div class="LeftSidebar_right" id="LeftSidebar_right"></div>
            <div class="LeftSidebar_left" id="LeftSidebar_left"></div>
        </div>

        <!-- 3단계 -->
        <!--오른쪽 메뉴-->
        <div class="RightSidebar" id="RightSidebar">
            <div class="RightSidebar_left" id="RightSidebar_left"></div>
            <div class="RightSidebar_right" id="RightSidebar_right"></div>
        </div>

        <div class="camera" id="camera"></div>
        <div class="question_string_small" id="question_string_small"></div>

        <!--제목-->
        <div class="Field" id="Field">
            <div class="border" id="border"></div>
            <div class="STATBAR" id="STATBAR">
                <div class="step" id="step">이야기 제작</div>
            </div>
        </div>

        <!-- 네비게이션 바 -->
        <div class="upper_bar" id="upper_bar">
            <div class="user_icon" id="user_icon"></div>
            <div class="user_icon_event" id="user_icon_event"></div>
            <div class="username" id="username"></div>
        </div>

        <!-- 텍스트 입력 -->
        <div class="input_text_box" id="input_text_box">
            <div class="input_text" id="input_text">문장을 입력하세요</div>
        </div>

        <!-- 1단계 -->
        <!-- 질문 -->
        <div class="question_base" id="question_base"></div>

        <!-- 2단계 -->
        <!-- 문장, base 축소 -->
        <div class="question_string" id="question_string"></div>
        <div class="question_base_small" id="question_base_small"></div>

        <!-- 발단 전개 위기 절정 결말 -->
        <div class="STEP_BAR" id="STEP_BAR">
            <div class="STEP_1" id="STEP_1">
                <div class="STEP_1_TEXT" id="STEP_1_TEXT">발단</div>
            </div>
            <div class="STEP_2" id="STEP_2">
                <div class="STEP_2_TEXT" id="STEP_2_TEXT">전개</div>
            </div>
            <div class="STEP_3" id="STEP_3">
                <div class="STEP_3_TEXT" id="STEP_3_TEXT">위기</div>
            </div>
            <div class="STEP_4" id="STEP_4">
                <div class="STEP_4_TEXT" id="STEP_4_TEXT">절정</div>
            </div>
            <div class="STEP_5" id="STEP_5">
                <div class="STEP_5_TEXT" id="STEP_5_TEXT">결말</div>
            </div>
        </div>

        <!--왼쪽 카드 뭉치-->
        <div class="Select_Character_Card_Field" id="Select_Character_Card_Field">
            <div class="Card_small_1" id="Card_small_1"></div>
            <div class="Card_small_2" id="Card_small_2"></div>
            <div class="Card_small_3" id="Card_small_3"></div>
            <div class="Card_small_4" id="Card_small_4"></div>
        </div>

        <!--화면아래 초록색 바-->
        <div class="bottom_bar" id="bottom_bar"></div>

        <!--다음 단계-->
        <div class="next_step" id="next_step"></div>

        <!--계정 메뉴-->
        <div class="ID_Menu" id="ID_Menu">
            <div class="menu_1" id="menu_1">
                <div class="menu_feature_1" id="menu_feature_1"></div>
                <div class="menu_text_1" id="menu_text_1">내 정보 관리</div>
            </div>
            <a href="/AI_Publisher/main/" target=_self>
            <div class="menu_2" id="menu_2">
                <div class="menu_feature_2" id="menu_feature_2"></div>
                <div class="menu_text_2" id="menu_text_2">메인 화면</div>
            </div></a>
            <div class="menu_3" id="menu_3">
                <div class="menu_feature_3" id="menu_feature_3"></div>
                <div class="menu_text_3" id="menu_text_3">TEXT</div>
            </div>
            <div class="menu_4" id="menu_4">
                <div class="menu_feature_4" id="menu_feature_4"></div>
                <div class="menu_text_4" id="menu_text_4">TEXT</div>
            </div>
        </div>

    </div>

    <script type="text/javascript">
        // 사용자 이름
        var username = document.getElementById("username");
        username.innerHTML = "Coople";

        // 유저 아이콘 눌렀을 때
        $("#ID_Menu").hide();
        $("#user_icon_event").hide();
        var x = true;
        $("#user_icon").click(function() {
            if (x) {
                $("#ID_Menu").show();
                $("#user_icon_event").show();
                x = false
            } else {
                $("#ID_Menu").hide();
                $("#user_icon_event").hide();
                x = true
            }
        });



        // 아래 화살표를 눌렀을 때
        // 0-2 발단, 3-5 전개, 6-8 위기, 9-11 절정, 12-14 결말
        $("#question_string").hide();
        $("#question_string_small").hide();
        $("#question_base_small").hide();
        $("#RightSidebar").hide();
        $("#camera").hide();

        var count = 0;
        $("#next_step").click(function() {
            count += 1;
            switch(count){
                case 1:
                    $("#question_base").hide();
                    $("#question_string").show();
                    $("#question_base_small").show();
                    break;
                case 2:
                    $("#question_string").hide();
                    $("#question_string_small").show();
                    $("#RightSidebar").show();
                    $("#camera").show();
                    break;
                case 3:
                    $("#STEP_1").css("background-color","#D6ECD7");
                    $("#STEP_1").css("box-shadow",'0px 0px 0px');
                    $("#STEP_2").css("background-color","#FFFFFF");
                    $("#STEP_2").css("box-shadow",'0 4px 4px #888');

                    $("#RightSidebar").hide();
                    $("#camera").hide();
                    $("#question_string_small").hide();
                    $("#question_base_small").hide();
                    $("#question_base").show();
                    break;
                case 4:
                    $("#question_base").hide();
                    $("#question_string").show();
                    $("#question_base_small").show();
                    break;
                case 5:
                    $("#question_string").hide();
                    $("#question_string_small").show();
                    $("#RightSidebar").show();
                    $("#camera").show();
                    break;
                case 6:
                    $("#STEP_2").css("background-color","#D6ECD7");
                    $("#STEP_2").css("box-shadow",'0px 0px 0px');
                    $("#STEP_3").css("background-color","#FFFFFF");
                    $("#STEP_3").css("box-shadow",'0 4px 4px #888');

                    $("#RightSidebar").hide();
                    $("#camera").hide();
                    $("#question_string_small").hide();
                    $("#question_base_small").hide();
                    $("#question_base").show();
                    break;
                case 7:
                    $("#question_base").hide();
                    $("#question_string").show();
                    $("#question_base_small").show();
                    break;
                case 8:
                    $("#question_string").hide();
                    $("#question_string_small").show();
                    $("#RightSidebar").show();
                    $("#camera").show();
                    break;
                case 9:
                    $("#STEP_3").css("background-color","#D6ECD7");
                    $("#STEP_3").css("box-shadow",'0px 0px 0px');
                    $("#STEP_4").css("background-color","#FFFFFF");
                    $("#STEP_4").css("box-shadow",'0 4px 4px #888');

                    $("#RightSidebar").hide();
                    $("#camera").hide();
                    $("#question_string_small").hide();
                    $("#question_base_small").hide();
                    $("#question_base").show();
                    break;
                case 10:
                    $("#question_base").hide();
                    $("#question_string").show();
                    $("#question_base_small").show();
                    break;
                case 11:
                    $("#question_string").hide();
                    $("#question_string_small").show();
                    $("#RightSidebar").show();
                    $("#camera").show();
                    break;
                case 12:
                    $("#STEP_4").css("background-color","#D6ECD7");
                    $("#STEP_4").css("box-shadow",'0px 0px 0px');
                    $("#STEP_5").css("background-color","#FFFFFF");
                    $("#STEP_5").css("box-shadow",'0 4px 4px #888');

                    $("#RightSidebar").hide();
                    $("#camera").hide();
                    $("#question_string_small").hide();
                    $("#question_base_small").hide();
                    $("#question_base").show();
                    break;
                case 13:
                    $("#question_base").hide();
                    $("#question_string").show();
                    $("#question_base_small").show();
                    break;
                case 14:
                    $("#question_string").hide();
                    $("#question_string_small").show();
                    $("#RightSidebar").show();
                    $("#camera").show();
                    break;
                case 15:
                    count = 0;
                    location.href = '/AI_Publisher/make_cover/'
                    break;
            }
        });

        // STEP 발단 눌렀을 때
        $("#STEP_1").click(function() {
            count = 0;
            $("#STEP_1").css("background-color","#FFFFFF");
            $("#STEP_1").css("box-shadow",'0 4px 4px #888');
            $("#STEP_2").css("background-color","#D6ECD7");
            $("#STEP_2").css("box-shadow",'0px 0px 0px');
            $("#STEP_3").css("background-color","#D6ECD7");
            $("#STEP_3").css("box-shadow",'0px 0px 0px');
            $("#STEP_4").css("background-color","#D6ECD7");
            $("#STEP_4").css("box-shadow",'0px 0px 0px');
            $("#STEP_5").css("background-color","#D6ECD7");
            $("#STEP_5").css("box-shadow",'0px 0px 0px');

            $("#RightSidebar").hide();
            $("#camera").hide();
            $("#question_string").hide();
            $("#question_string_small").hide();
            $("#question_base_small").hide();
            $("#question_base").show();
        });

        // STEP 전개 눌렀을 때
        $("#STEP_2").click(function() {
            count = 3;
            $("#STEP_1").css("background-color","#D6ECD7");
            $("#STEP_1").css("box-shadow",'0px 0px 0px');
            $("#STEP_2").css("background-color","#FFFFFF");
            $("#STEP_2").css("box-shadow",'0 4px 4px #888');
            $("#STEP_3").css("background-color","#D6ECD7");
            $("#STEP_3").css("box-shadow",'0px 0px 0px');
            $("#STEP_4").css("background-color","#D6ECD7");
            $("#STEP_4").css("box-shadow",'0px 0px 0px');
            $("#STEP_5").css("background-color","#D6ECD7");
            $("#STEP_5").css("box-shadow",'0px 0px 0px');

            $("#RightSidebar").hide();
            $("#camera").hide();
            $("#question_string").hide();
            $("#question_string_small").hide();
            $("#question_base_small").hide();
            $("#question_base").show();
        });

        // STEP 위기 눌렀을 때
        $("#STEP_3").click(function() {
            count = 6;
            $("#STEP_1").css("background-color","#D6ECD7");
            $("#STEP_1").css("box-shadow",'0px 0px 0px');
            $("#STEP_2").css("background-color","#D6ECD7");
            $("#STEP_2").css("box-shadow",'0px 0px 0px');
            $("#STEP_3").css("background-color","#FFFFFF");
            $("#STEP_3").css("box-shadow",'0 4px 4px #888');
            $("#STEP_4").css("background-color","#D6ECD7");
            $("#STEP_4").css("box-shadow",'0px 0px 0px');
            $("#STEP_5").css("background-color","#D6ECD7");
            $("#STEP_5").css("box-shadow",'0px 0px 0px');

            $("#RightSidebar").hide();
            $("#camera").hide();
            $("#question_string").hide();
            $("#question_string_small").hide();
            $("#question_base_small").hide();
            $("#question_base").show();
        });

        // STEP 절정 눌렀을 때
        $("#STEP_4").click(function() {
            count = 9;
            $("#STEP_1").css("background-color","#D6ECD7");
            $("#STEP_1").css("box-shadow",'0px 0px 0px');
            $("#STEP_2").css("background-color","#D6ECD7");
            $("#STEP_2").css("box-shadow",'0px 0px 0px');
            $("#STEP_3").css("background-color","#D6ECD7");
            $("#STEP_3").css("box-shadow",'0px 0px 0px');
            $("#STEP_4").css("background-color","#FFFFFF");
            $("#STEP_4").css("box-shadow",'0 4px 4px #888');
            $("#STEP_5").css("background-color","#D6ECD7");
            $("#STEP_5").css("box-shadow",'0px 0px 0px');

            $("#RightSidebar").hide();
            $("#camera").hide();
            $("#question_string").hide();
            $("#question_string_small").hide();
            $("#question_base_small").hide();
            $("#question_base").show();
        });

        // STEP 결말 눌렀을 때
        $("#STEP_5").click(function() {
            count = 12;
            $("#STEP_1").css("background-color","#D6ECD7");
            $("#STEP_1").css("box-shadow",'0px 0px 0px');
            $("#STEP_2").css("background-color","#D6ECD7");
            $("#STEP_2").css("box-shadow",'0px 0px 0px');
            $("#STEP_3").css("background-color","#D6ECD7");
            $("#STEP_3").css("box-shadow",'0px 0px 0px');
            $("#STEP_4").css("background-color","#D6ECD7");
            $("#STEP_4").css("box-shadow",'0px 0px 0px');
            $("#STEP_5").css("background-color","#FFFFFF");
            $("#STEP_5").css("box-shadow",'0 4px 4px #888');

            $("#RightSidebar").hide();
            $("#camera").hide();
            $("#question_string").hide();
            $("#question_string_small").hide();
            $("#question_base_small").hide();
            $("#question_base").show();
        });


    </script>
</body>
</html>