{% load static %}
<!doctype html>

<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'set_character.css' %}">
    <title>set_character</title>
</head>
<body>
    <div class="backGround" id="backGround">
        <div class="STATBAR" id="STATBAR">
            <div class="step" id="step">인물카드 선택</div>
        </div>
        <div class="border" id="border"></div>
    </div>
    <div class="next_step" id="next_step"></div>
    <div class="redraw" id="redraw"></div>
</body>

</html>