{% load static %}
<!doctype html>

<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'set_character.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">
    <script type="text/javascript" src="{% static 'navbar.js' %}"></script>
    <script type="text/javascript" src="{% static 'Random_Character.js' %}"></script>
    <script type="text/javascript" src="{% static 'set_character.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery-3.5.1.min.js' %}"></script>
    <title>set_character</title>

    <!--Post form-->
    <form method='post' action='/AI_Publisher/set_char_option/' target=_self style="display: none;" name="sendJson" id="sendJson">
        <input type='hidden' name='jsonData' id='jsonData' value=""/>
    </form>

</head>
<body onload="random_character();navbar_function();">
    <!--배경 및 프레임-->
    <div class="BackGround" id="BackGround">
        <div class="Field" id="Field">
            <div class="stepbox" id="stepbar">
                <div class="step" id="step1">인물카드선택</div>
                <div class="step" id="step2">인물카드설정</div>
                <div class="step" id="step3">관계카드설정</div>
            </div>
        </div>
        <!--카드 뭉치-->
        <div class="card_stack" id="card_stack_box">
            <div class="cardstack1" id="card_stack_1"></div>
            <div class="cardstack1" id="card_stack_2"></div>
            <div class="cardstack1" id="card_stack_3"></div>
        </div>
        <!--화면아래 초록색 바-->
        <div class="bottom_bar" id="bottom_bar"></div>

        <!--캐릭터 배치-->

        <div class="cardbox" id="card_box">
            <div class="card1" id="card_1"><img id="card1"></div>
            <div class="card2" id="card_2"><img id="card2" width="111px" height="181px"></div>
            <div class="card3" id="card_3"><img id="card3" width="111px" height="181px"></div>
            <div class="card4" id="card_4"><img id="card4" width="111px" height="181px"></div>
        </div>



        <!-- 네비게이션 바 -->
        <div class="upper_bar" id="upper_bar">
            <div class="AI_Publisher" id="AI_Publisher">AI_Publisher</div>
            <div class="AI_Publisher_image" id="AI_Publisher_image"></div>
            <div class="user_icon" id="user_icon"></div>
            <div class="user_icon_event" id="user_icon_event"></div>
            <div class="username" id="username"></div>
        </div>

        <!--계정 메뉴-->
        <div class="ID_Menu" id="ID_Menu">
            <div class="menu_1_item" id="menu_1_item">
                <div class="menu_1_text_box" id="menu_1_text_box">
                    <div class="menu_1_text" id="menu_1_text">내 정보 관리</div>
                </div>
            </div>
            <div class="menu_2" id="menu_2">
                <div class="menu_2_item" id="menu_2_item">
                    <div class="menu_2_icon_box" id="menu_2_icon_box">
                        <div class="menu_2_icon" id="menu_2_icon"></div>
                    </div>
                    <div class="menu_2_text_box" id="menu_2_text_box">
                        <div class="menu_2_text" id="menu_2_text">Converted Photos</div>
                    </div>
                </div>
            </div>
            <div class="menu_3" id="menu_3">
                <div class="menu_3_item" id="menu_3_item">
                    <div class="menu_3_icon_box" id="menu_3_icon_box">
                        <div class="menu_3_icon" id="menu_3_icon"></div>
                    </div>
                    <div class="menu_3_text_box" id="menu_3_text_box">
                        <div class="menu_3_text" id="menu_3_text">sharing</div>
                    </div>
                </div>
            </div>
        </div>

        <!--다음 단계-->
        <div class="next_shape" id="next_shape">
            <div class="next_step_body_1" id="next_step_body_1">
                <div class="next_step_body_2" id="next_step_body_2">
                    <div class="next_step_text" id="next_step_text">Next</div>
                    <div class="next_step_image" id="next_step_image" onclick="next_page()"></div>
                </div>
            </div>
        </div>

        <!--다시 뽑기-->
        <div class="redraw" id="redraw_shape">
            <div class="redraw" id="redraw_body_1">
                <div class="redraw" id="redraw_body_2">
                    <div class="redraw" id="redraw_text">Again</div>
                    <div class="redraw" id="redraw_image"></div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>