{% load static %}
<!doctype html>

<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'set_relation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">
    <script type="text/javascript" src="{% static 'navbar.js' %}"></script>
    <script type="text/javascript" src="{% static 'set_relation.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery-3.5.1.min.js' %}"></script>
    <title>set_relation</title>
    <!-- post values -->
    <form method='post' action='/AI_Publisher/make_story/' target=_self style="display: none;" name="sendJson" id="sendJson">
        <input type='hidden' name='jsonData' id='jsonData' value="{{getJSONData}}"/>
    </form>
</head>
<body onload="navbar_function();">
    <!--배경 및 프레임-->
    <div class="BackGround" id="BackGround">

         <!-- 모달창 -->
        <div class="black_bg" onclick="removeModal();"></div>
        <div class="modal_wrap">
            <div id="modal_warning" > <img src="../../static/img/ic_warning.png"> </div>
            <div id="modal_title">
                모달제목
            </div>
            <div id="modal_context">
                모달내용
            </div>
            <div id="modal_button_wrap">
                <div class="modal_button" id="modal_button_ok" onclick="modalOk();">확인</div>
                <div class="modal_button" id="modal_button_yes" onclick="modalYes_nav();">예</div>
                <div class="modal_button" id="modal_button_no" onclick="modalNo_nav();">아니오</div>
            </div>
        </div>

        <!--제목-->
        <div class="Field" id="Field">
            <div class="stepbox" id="stepbar">
                <div class="step" id="step1">인물카드선택</div>
                <div class="step" id="step2">인물카드설정</div>
                <div class="step" id="step3">관계카드설정</div>
            </div>
        </div>


        <!--다음 버튼-->
        <!--Todo : 나중에 5개 다 안채웠는데 넘어갈려고하면 막아줘야함-->
        <div class="next_shape" id="next_shape" onclick="sendToNextPage();" >
            <div class="next_step_body_1" id="next_step_body_1">
                <div class="next_step_body_2" id="next_step_body_2">
                    <div class="next_step_text" id="next_step_text">Next</div>
                    <div class="next_step_image" id="next_step_image"></div>
                </div>
            </div>
        </div>

        <!-- 왼쪽 인물 목록 메뉴 -->

        <div class="character_menu" id="character_menu">
            {% for character in charList %}
                <div class="character_card" id="character_{{forloop.counter}}" onclick="sendSubChar({{forloop.counter}})">
                    <img class="card_img" id="card_{{forloop.counter}}" src={{character.url}}>
                </div>
            {% endfor %}
        </div>

        <!-- 주인공과 서브인물 -->
        <div div class="character_selected_card" id="character_main" >
            <img class="card_img" src="{{ charMain.url }}"/>
            <div class="img_star" id="img_star"></div>
        </div>
        <div class="character_selected_card" id="character_sub">
            <img class="card_img" id="characterSub"/>
        </div>

        <!-- 중앙 5개 선택된 관계 카드-->
        <div class="relation_selected_menu" id="relation_selected_menu">
            <div class="relation_selected_card" id="relation_selected_card1">
                <div class="relation_context" droppable="true" ondragover="onDragOver(event)" ondrop="onDrop(event)"></div>
            </div>
            <div class="relation_selected_card" id="relation_selected_card2">
                <div class="relation_context" droppable="true" ondragover="onDragOver(event)" ondrop="onDrop(event)"></div>
            </div>
            <div class="relation_selected_card" id="relation_selected_card3">
                <div class="relation_context" droppable="true" ondragover="onDragOver(event)" ondrop="onDrop(event)"></div>
            </div>
            <div class="relation_selected_card" id="relation_selected_card4">
                <div class="relation_context" droppable="true" ondragover="onDragOver(event)" ondrop="onDrop(event)"></div>
            </div>
            <div class="relation_selected_card" id="relation_selected_card5">
                <div class="relation_context" droppable="true" ondragover="onDragOver(event)" ondrop="onDrop(event)"></div>
            </div>
        </div>

        <!-- 하단 8개 관계 설정 카드-->
        <div class="relation_menu" id="relation_menu">
            <div class="relation_card_positive" id="relation_card_pos1">
                <div class="relation_context" draggable="true" ondragstart="onDragStart(event)" ondrag="onDrag(event)" >{{card_pos.0}}</div>
            </div>
            <div class="relation_card_positive" id="relation_card_pos2">
                <div class="relation_context" draggable="true" ondragstart="onDragStart(event)" ondrag="onDrag(event)" >{{card_pos.1}}</div>
            </div>
            <div class="relation_card_positive" id="relation_card_pos3">
                <div class="relation_context" draggable="true" ondragstart="onDragStart(event)" ondrag="onDrag(event)" >{{card_pos.2}}</div>
            </div>
            <div class="relation_card_neutrality" id="relation_card_neu1">
                <div class="relation_context" draggable="true" ondragstart="onDragStart(event)" ondrag="onDrag(event)" >{{card_neu.0}}</div>
            </div>
            <div class="relation_card_neutrality" id="relation_card_neu2">
                <div class="relation_context" draggable="true" ondragstart="onDragStart(event)" ondrag="onDrag(event)" >{{card_neu.1}}</div>
            </div>
            <div class="relation_card_negative" id="relation_card_neg1">
                <div class="relation_context" draggable="true" ondragstart="onDragStart(event)" ondrag="onDrag(event)" >{{card_neg.0}}</div>
            </div>
            <div class="relation_card_negative" id="relation_card_neg2">
                <div class="relation_context" draggable="true" ondragstart="onDragStart(event)" ondrag="onDrag(event)" >{{card_neg.1}}</div>
            </div>
            <div class="relation_card_negative" id="relation_card_neg3">
                <div class="relation_context" draggable="true" ondragstart="onDragStart(event)" ondrag="onDrag(event)" >{{card_neg.2}}</div>
            </div>
        </div>




                <!-- 네비게이션 바 -->
        <div class="upper_bar" id="upper_bar">
            <div class="AI_Publisher_image" id="AI_Publisher_image"></div>
            <div class="user_icon" id="user_icon"></div>
            <div class="username" id="username"></div>
        </div>

    </div>
</body>

</html>