{% load static %}
<!doctype html>

<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'set_char_option.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">
    <!--<script type="text/javascript" src="../../static/char_option.js"></script>-->
    <script type="text/javascript" src="{% static 'navbar.js' %}"></script>
    <script type="text/javascript" src="{% static 'set_char_option.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery-3.5.1.min.js' %}"></script>
    <title>set_character</title>
    <!-- post values -->
    <form method='post' action='/AI_Publisher/set_relation/' target=_self style="display: none;" name="sendJson" id="sendJson">
        <input type='hidden' name='jsonData' id='jsonData' value=""/>
    </form>
</head>
<!--<body onload="navbar_function();setCard();">-->
<body onload="navbar_function();">
    <!--배경 및 프레임-->
    <div class="BackGround" id="BackGround">

        <!--제목-->
       <div class="Field" id="Field">
            <div class="stepbox" id="stepbar">
                <div class="step" id="step1">인물카드선택</div>
                <div class="step" id="step2">인물카드설정</div>
                <div class="step" id="step3">관계카드설정</div>
            </div>
        </div>



        <!--다음 버튼-->
        <!--Todo : 내용 다 안채워줬으면 못넘어가게 하기-->

        <div class="next_shape" id="next_shape">
            <div class="next_step_body_1" id="next_step_body_1">
                <div class="next_step_body_2" id="next_step_body_2">
                    <div class="next_step_text" id="next_step_text">Next</div>
                    <div class="next_step_image" id="next_step_image" onclick="sendToNextPage();"></div>
                </div>
            </div>
        </div>
        <!--<a href="/AI_Publisher/get_relation_keyprob/" target=_self>-->
            <!--<div class="next_step" id="next_step"></div></a>-->

        <!--왼쪽 캐릭터 카드 메뉴-->

        <div class="character_card" id="card1" style="background-image: url('{{getJSONData.charList.0}}');" onclick="settingCharData(0)"></div>
        <div class="character_card" id="card2" style="background-image: url('{{getJSONData.charList.1}}');" onclick="settingCharData(1)"></div>
        <div class="character_card" id="card3" style="background-image: url('{{getJSONData.charList.2}}');" onclick="settingCharData(2)"></div>
        <div class="character_card" id="card4" style="background-image: url('{{getJSONData.charList.3}}');" onclick="settingCharData(3)"></div>

        <!--중간의 캐릭터 카드 메뉴-->
        <div class="main_card" id="set_card" style="background-image: url('{{getJSONData.charList.0}}');"></div>

        <!--캐릭터 설정 이름-->
        <div class="card_option" id="name_box">
            <div class="card_option" id="name">이름</div>
            <input id="name_text" type="text" name="card_option" >

        </div>
        <!--캐릭터 설정 성격-->
        <div class="card_option" id="personality_box">
            <div class="card_option" id="personality">성격</div>
            <input id="personality_text" type="text" name="card_option" >
        </div>
        <!--캐릭터 설정 기타-->
        <div class="card_option" id="etc_box">
            <div id="card_option" id="etc">기타</div>
            <input id="etc_text" type="text" name="card_option" >
        </div>

            <!--캐릭터 설정 기타-->
        <div class="card_option" id="main_char_box">
            <input id="ck1" type="checkbox" name="card_option">
            <div class="card_option" id="main_char"> 주인공인가요?</div>
        </div>


        <!-- 네비게이션 바 -->
        <div class="upper_bar" id="upper_bar">
            <div class="AI_Publisher" id="AI_Publisher">AI_Publisher</div>
            <div class="AI_Publisher_image" id="AI_Publisher_image"></div>
            <div class="user_icon" id="user_icon"></div>
            <div class="user_icon_event" id="user_icon_event"></div>
            <div class="username" id="username"></div>
        </div>

        <!--계정 메뉴-->
        <div class="ID_Menu" id="ID_Menu">
            <div class="menu_1_item" id="menu_1_item">
                <div class="menu_1_text_box" id="menu_1_text_box">
                    <div class="menu_1_text" id="menu_1_text">내 정보 관리</div>
                </div>
            </div>
            <div class="menu_2" id="menu_2">
                <div class="menu_2_item" id="menu_2_item">
                    <div class="menu_2_icon_box" id="menu_2_icon_box">
                        <div class="menu_2_icon" id="menu_2_icon"></div>
                    </div>
                    <div class="menu_2_text_box" id="menu_2_text_box">
                        <div class="menu_2_text" id="menu_2_text">Converted Photos</div>
                    </div>
                </div>
            </div>
            <div class="menu_3" id="menu_3">
                <div class="menu_3_item" id="menu_3_item">
                    <div class="menu_3_icon_box" id="menu_3_icon_box">
                        <div class="menu_3_icon" id="menu_3_icon"></div>
                    </div>
                    <div class="menu_3_text_box" id="menu_3_text_box">
                        <div class="menu_3_text" id="menu_3_text">sharing</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>