{% load static %}
<!doctype html>

<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'set_character.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">
    <script type="text/javascript" src="{% static 'navbar.js' %}"></script>
    <script type="text/javascript" src="{% static 'Random_Character.js' %}"></script>
    <script type="text/javascript" src="{% static 'set_character.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery-3.5.1.min.js' %}"></script>
    <title>set_character</title>

    <!--Post form-->
    <form method='post' action='/AI_Publisher/set_char_option/' target=_self style="display: none;" name="sendJson" id="sendJson">
        <input type='hidden' name='jsonData' id='jsonData' value=""/>
    </form>

</head>
<body onload="random_character();navbar_function();">
    <!--배경 및 프레임-->
    <div class="BackGround" id="BackGround">
        <div class="Field" id="Field">
            <div class="border" id="border"></div>
            <div class="STATBAR" id="STATBAR">
                <div class="step" id="step">인물카드 선택</div>
            </div>
        </div>
        <!--카드 뭉치-->
        <div class="card_stack" id="card_stack_box">
            <div class="cardstack1" id="card_stack_1"></div>
            <div class="cardstack1" id="card_stack_2"></div>
            <div class="cardstack1" id="card_stack_3"></div>
        </div>
        <!--화면아래 초록색 바-->
        <div class="bottom_bar" id="bottom_bar"></div>

        <!--다음 버튼-->
        <div class="next_step" id="next_step" onclick="next_page()"></div>

        <!--다시 뽑기-->
        <div class="redraw" id="redraw"></div>

        <!--캐릭터 배치-->

        <div class="card1" id="card_1"><img id="card1" width="250px" height="334px"></div>
        <div class="card2" id="card_2"><img id="card2" width="250px" height="334px"></div>
        <div class="card3" id="card_3"><img id="card3" width="250px" height="334px"></div>
        <div class="card4" id="card_4"><img id="card4" width="250px" height="334px"></div>


        <!--네비게이션 바-->
        <div class="upper_bar" id="upper_bar">
            <div class="user_icon" id="user_icon"></div>
            <div class="user_icon_event" id="user_icon_event"></div>
            <div class="username" id="username"></div>
        </div>

        <!--계정 메뉴-->
        <div class="ID_Menu" id="ID_Menu">
            <div class="menu_1" id="menu_1">
                <div class="menu_feature_1" id="menu_feature_1"></div>
                <div class="menu_text_1" id="menu_text_1">내 정보 관리</div>
            </div>
            <a href="/AI_Publisher/main/" target=_self>
            <div class="menu_2" id="menu_2">
                <div class="menu_feature_2" id="menu_feature_2"></div>
                <div class="menu_text_2" id="menu_text_2">메인 화면</div>
            </div></a>
        </div>

    </div>
</body>

</html>