{% load static %}
<!doctype html>

<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'set_char_option.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">
    <script type="text/javascript" src="../../static/char_option.js"></script>
    <script type="text/javascript" src="{% static 'navbar.js' %}"></script>
    <script type="text/javascript" src="{% static 'char_option.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery-3.5.1.min.js' %}"></script>
    <title>set_character</title>
</head>
<body onload="navbar_function();setCard();">
    <!--배경 및 프레임-->
    <div class="BackGround" id="BackGround">

        <!--제목-->
        <div class="Field" id="Field">
            <div class="border" id="border"></div>
            <div class="STATBAR" id="STATBAR">
                <div class="step" id="step">인물카드 설정</div>
            </div>
        </div>

        <!--화면아래 초록색 바-->
        <div class="bottom_bar" id="bottom_bar"></div>

        <!--다음 버튼-->
        <a href="/AI_Publisher/set_relation/" target=_self>
            <div class="next_step" id="next_step"></div></a>

        <!-- 네비게이션 바 -->
        <div class="upper_bar" id="upper_bar">
            <div class="user_icon" id="user_icon"></div>
            <div class="user_icon_event" id="user_icon_event"></div>
            <div class="username" id="username"></div>
        </div>

        <!--왼쪽 캐릭터 카드 메뉴-->
        <div class="character_card" id="card1" style="background-image: url('{{getJSONData.charList.0}}');"></div>
        <div class="character_card" id="card2" style="background-image: url('{{getJSONData.charList.1}}');"></div>
        <div class="character_card" id="card3" style="background-image: url('{{getJSONData.charList.2}}');"></div>
        <div class="character_card" id="card4" style="background-image: url('{{getJSONData.charList.3}}');"></div>

        <!--중간의 캐릭터 카드 메뉴-->
        <div class="main_card" id="set_card" style="background-image: url('{{getJSONData.charList.0}}');"></div>

        <!--캐릭터 설정-->
        <div class="card_option" id="option_box">인물 설정하기</div>
        <div class="card_option" id="name">
           이름: <input id="name_text" type="text" name="card_option" >
        </div>
        <div class="card_option" id="personality">성격: </div>
        <div class="card_option" id="etc">
            기타: <input id="etc_text" type="text" name="card_option" >
        </div>
        <form>
        <div class="card_option" id="main_char" >
            <label for="ck1">주인공: </label>
            <input id="ck1" type="checkbox" name="card_option" style="zoom:3.0;" z-index="2">
        </div>
        </form>

        <!--계정 메뉴-->
        <div class="ID_Menu" id="ID_Menu">
            <div class="menu_1" id="menu_1">
                <div class="menu_feature_1" id="menu_feature_1"></div>
                <div class="menu_text_1" id="menu_text_1">내 정보 관리</div>
            </div>
            <a href="/AI_Publisher/main/" target=_self>
            <div class="menu_2" id="menu_2">
                <div class="menu_feature_2" id="menu_feature_2"></div>
                <div class="menu_text_2" id="menu_text_2">메인 화면</div>
            </div></a>
            <div class="menu_3" id="menu_3">
                <div class="menu_feature_3" id="menu_feature_3"></div>
                <div class="menu_text_3" id="menu_text_3">TEXT</div>
            </div>
            <div class="menu_4" id="menu_4">
                <div class="menu_feature_4" id="menu_feature_4"></div>
                <div class="menu_text_4" id="menu_text_4">TEXT</div>
            </div>
        </div>

    </div>

</body>

</html>