{% extends 'base.html' %}
{% load static %}


{% block content %}

    <style>
        body {
            background-color: #ffffff;
        }
        </style>
    <div class="upper_bar" id="upper_bar" style="position : absolute; left:0px; top: 0px; z-index : 1;">
        <img style="width: 100%; height: auto;object-fit: scale-down;" src="/static/img/upper_bar.png"/></div>
    <div class="CSetting_bar" id="CSetting_bar" style="position : absolute; left:0px; top: 100px; z-index : 1;">
        <img style="width: 100%; height: auto;object-fit: scale-down;" src="/static/img/CSetting_bar.png"/></div>
    <div class="nextstep" id="nextstep" style="position : absolute; left:1805px; top: 870px; z-index : 1;">
        <img style="width: 100%; height: auto;object-fit: scale-down;" src="/static/img/nextstep.png"/></div>

{% endblock %}
