{% load static %}
<!doctype html>

<html lang="ko">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'show_gallery.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">
    <script type="text/javascript" src="{% static 'navbar.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery-3.5.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'show_gallery.js' %}"></script>
    <!-- DB에서 불러와야함.~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <input type="hidden" name="userbook" id="userbook" value="{{userbook}}"/>
    <input type="hidden" name="userbooknum" id="userbooknum" value="{{userbooknum}}"/>
    <input type="hidden" name="background" id="mybackground" value="{{mybackground}}"/>
    <input type="hidden" name="title" id="title" value="{{title}}"/>

    <form method='post' action='/AI_Publisher/read_book_start/' target=_self style="display: none;" name="sendJson" id="sendJson">
        <input type='hidden' name='jsonData' id='jsonData' value="{{getJSONData}}"/>
    </form>

    <title>Show Gallery</title>
</head>
<body onload="set_page();">

   <div class="container" id="background">

    <!--노리스 아이콘-->
    <div class="icon" id="noris_icon"></div>

    <!--뒤로가기 버튼-->
    <div class="backpage" id="backpage_btn">
        <div class="backpage" id="backpage_arrow"></div>
        <div class="backpage" id="backpage_text">뒤로가기</div>
        <div class="backpage" id="backpage_img"></div>
    </div>

        <!--다온이가 만든 동화책장이에요!-->
       <div class="container" id="gallery_text_container">
           <!--DB에서 유저 이름 출력시키는 곳!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
           <h3 class="gallery_text" id="gallery_text1">다온이가&nbsp;</h3>

           <h3 class="gallery_text" id="gallery_text2">만든</h3><br>
           <h3 class="gallery_text" id="gallery_text3">동화책장</h3>
           <h3 class="gallery_text" id="gallery_text4">이에요!</h3>
       </div>

        <!--1번 책 출력되는곳.-->
       <div class="container" id="book1_container">
           <div class="container" id="book1_background"></div>
           <div class="book1" id="book1"></div>
       </div>

       <!--2번 책 출력되는곳.-->
       <div class="container" id="book2_background">
           <div class="book2" id="book2"></div>
           <div class="book2" id="book2_triange"></div>
           <div class="book2" id="book2_sh"></div>
       </div>

       <!--3번 책 출력되는곳.-->
       <div class="container" id="book3_background">
           <div class="book3" id="book3"></div>
           <div class="book3_deco" id="book3_tree"></div>
           <div class="book3_deco" id="book3_person"></div>
           <div class="book3_deco" id="book3_triange"></div>
           <div class="book3_deco" id="book3_sh_big"></div>
           <div class="book3_deco" id="book3_sh_small"></div>
           <div class="book3_deco" id="book3_water"></div>
       </div>

   </div>
</body>
</html>