<!doctype html>

<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href='../../static/user_info.css'>
    <script type="text/javascript" src="../../static/user_info.js"></script>
    <title>user_info</title>
</head>
<body>

<div class="container" id="background">

    <!--노리스 아이콘-->
    <div class="icon" id="noris_icon"></div>

    <!--뒤로가기 버튼-->
    <div class="backpage" id="backpage_btn" onclick="location.href='http://127.0.0.1:8000/AI_Publisher/'">
        <div class="backpage" id="backpage_arrow"></div>
        <div class="backpage" id="backpage_text">뒤로가기</div>
        <div class="backpage" id="backpage_img"></div>
    </div>

    <!--사용자가 가장 많이 쓴 단어 출력해주는 곳-->
    <div class="most_used" id="most_used_text_box">

        <!--DB에서 유저 이름 출력시키는 곳!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
        <h3 class="most_used_text" id="most_used_text1">친구는</h3><br>

        <!--DB에서 가장 많이 쓴 단어 출력시킬곳!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
        <h3 class="most_used_text" id="most_used_text2">"멋있어"</h3>

        <h3 class="most_used_text" id="most_used_text3">라는</h3>
        <h3 class="most_used_text" id="most_used_text4">말을&nbsp;가장&nbsp;좋아하는군요.</h3>
    </div>

    <div class="deco" id="most_used_text_underline"></div>

    <!--유저 infomation 보여주는 곳-->
    <div class="container" id="user_info_container">
        <div class="user_info" id="user_info_person"></div>

        <!--유저 글 출력되는 부분.-->
        <div class="container" id="user_info_container_cloud">
            <div class="user_info" id="user_info_text_box">
                <!--DB에서 유저 이름 출력시키는 곳!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
            <h3 class="user_info_text" id="user_info_text1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;다온이는</h3>
                <h3 class="user_info_text" id="user_info_text9">지금까지</h3>
                <!--DB에서 몇 권 만들었는지 곳!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
            <h3 class="user_info_text" id="user_info_text2">총 3권의 동화를</h3>

            <h3 class="user_info_text" id="user_info_text3">&nbsp;만들었어요.</h3><br>
            <h3 class="user_info_text" id="user_info_text4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;평균적으로</h3><br>
            <h3 class="user_info_text" id="user_info_text5">한&nbsp;이야기&nbsp;당&nbsp;</h3>

            <!--DB에서 평균적으로 한 권에 몇 문장을 쓰는지 적는 곳!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
            <h3 class="user_info_text" id="user_info_text6">8개의 문장을</h3>
                
            <h3 class="user_info_text" id="user_info_text7">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;사용하네요.</h3><br>
            <h3 class="user_info_text" id="user_info_text8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;아주&nbsp;잘하고있어요!</h3>
            </div>
        </div>

        <!--갤러리 이동-->
        <div class="go_gallery" id="gallery_box">
            <div class="go_gallery" id="gallery_text_container" onclick="location.href='http://127.0.0.1:8000/AI_Publisher/show_gallery'">
                <!--DB에서 유저 이름 출력시키는 곳!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
                <h3 class="gallery_text" id="gallery_text1">다온이의</h3>
                <h3 class="gallery_text" id="gallery_text2">책장</h3><br>
                <h3 class="gallery_text" id="gallery_text3">바로가기</h3>
            </div>
        </div>

    </div>


</div>



</body>

</html>
