<!doctype html>

<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href='../../static/user_info.css'>
    <link rel="stylesheet" type="text/css" href='../../static/navbar.css'>
    <script type="text/javascript" src='../../static/navbar.js'></script>
    <script type="text/javascript" src="../../static/user_info.js"></script>
    <title>user_info</title>
</head>
<body>


<div class="background" id="baseground">
    <div class="background" id="BackGround">
        <!--프로필 -->
        <div class="profile" id="profile">
            <div></div>
        </div>
        <div class="profile" id="profile_img"></div>

        <!--갤러리 이동 -->
        <div class="gallery" id="gallery">
            <div class="gallery" id="gallery_text">나의 책장</div>
            <div class="gallery" id="gallery_btn">책장으로 이동하기</div>
        </div>
    </div>
    <!-- 네비게이션 바 -->
    <div class="user_background" id="my_back"></div>

    <!-- 네비게이션 바 -->
    <div class="upper_bar" id="upper_bar">
        <div class="AI_Publisher_image" id="AI_Publisher_image"></div>
        <div class="user_icon" id="user_icon"></div>
        <div class="username" id="username"></div>
    </div>
</div>



</body>

</html>
