<div class="upper_bar" id="upper_bar" style="position : absolute; left:0px; top: 0px; z-index : 1;">
    <img style="width: 100%; height: auto;object-fit: scale-down;" src="/static/img/upper_bar.png"/></div>


<button id="user_icon" class="user_icon" onclick="button1_click()"
        style="position : absolute; left:1910px; top: 17px; z-index : 2;">
    <img style="width: 100%; height: auto;object-fit: scale-down;"
         src="/static/img/user_icon.png" alt="btnImages" class="btnImages">
</button>

<script>
    function button1_click() {
        img=document.createElement("img");
        img.src="/static/img/user_event.png"
        img.style="position : absolute; left:1780px; top: 100px; z-index : 2;"
        document.body.appendChild(img);

    }
</script>

